<GroupflightListNav />

<div class="pull-right">
  <XPager @count={{model.count}} @page={{page}} @perPage={{50}} />
</div>

<GroupflightList @groupflights={{model.groupflights}} @showClub={{false}} @sortColumn={{column}} @sortOrder={{order}} />

<div class="pull-right">
  <XPager @count={{model.count}} @page={{page}} @perPage={{50}} />
</div>