<li class={{if (eq @selectedTab @id) "active"}}>
  <a href="#tab-{{@id}}" title={{@title}} role="tab" data-test-sidebar-tab={{@id}} {{on "click" this.onClick}}>
    {{svg-jar @icon class="fa-svg large"}}
  </a>
</li>