<div >
  {{t 'Arrived'}}

</div>


<div class="fullscreen-below-nav-bar">
  <GroupflightPage
    id="fullscreen-content"
    @ids={{ids}}
    @flight={{model.groupflight}}
    @_primaryFlightPath={{_primaryFlightPath}}
    @comments={{model.comments}}
    @transitionTo={{action "transitionTo"}} />
</div>