{{!-- {{title (t "DISTANCE-on-DATE" --}}
{{!--     distance=(format-distance model.flight.distance) --}}
{{!--     date=(format-date model.flight.scoreDate format="ddmmyyyy" timeZone="UTC") --}}
{{!-- )}} --}}

{{!-- <div class="fullscreen-below-nav-bar"> --}}
{{!--   <GroupflightPage --}}
{{!--     @id="fullscreen-content" --}}
{{!--     @ids={{ids}} --}}
{{!--     @groupflight={{groupflight}} --}}
{{!--     @club={{club}} --}}
{{!--     @firstPath={{model.firstPath}} --}}
{{!--     @firstData={{model.firstData}} --}}
{{!--     @comments={{groupflight.comments}} --}}
{{!--     @transitionTo={{action "transitionTo"}} /> --}}
{{!-- </div> --}}