<BasePage>
  <div class="page-header">
    <h1>{{t "groupflight"}}</h1>
  </div>

</BasePage>


{{!-- <div class="fullscreen-below-nav-bar"> --}}
{{!--   <GroupflightPage --}}
{{!--     id="fullscreen-content" --}}
{{!--     @igc={{igcs}} --}}
{{!--     @groupflight={{model.groupflight}} --}}
{{!--     @_primaryFlightPath={{_primaryFlightPath}} --}}
{{!--     @comments={{model.comments}} --}}
{{!--     @transitionTo={{action "transitionTo"}} /> --}}
{{!-- </div> --}}