<div class="panel-body">
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      {{#bs-alert type="danger" dismissible=false}}
        {{#if messageKey}}{{t messageKey error=error}}{{else}}{{error}}{{/if}}
      {{/bs-alert}}
    {{else if messageKey}}
      {{#bs-alert type="success" dismissible=false}}{{t messageKey}}{{/bs-alert}}
    {{/if}}

    {{validated-input
      type='password'
      value=currentPassword
      validation=validations.attrs.currentPassword
      label=(t "current-password")
      autocomplete="current-password"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    {{validated-input
      type='password'
      value=password
      validation=validations.attrs.password
      label=(t "password")
      autocomplete="new-password"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    {{validated-input
      type='password'
      value=passwordConfirmation
      validation=validations.attrs.passwordConfirmation
      label=(t "confirm-password")
      autocomplete="new-password"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "changing-password" "change-password")}}
    </button>
  </form>
</div>