<div class="panel-body">
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{#if messageKey}}{{t messageKey error=error}}{{else}}{{error}}{{/if}}
      </div>
    {{else if messageKey}}
      <div class="alert alert-success" role="alert">{{t messageKey}}</div>
    {{/if}}

    {{validated-input
      type='password'
      value=currentPassword
      validation=validations.attrs.currentPassword
      label=(t "current-password")
      disabled=saveTask.isRunning}}

    {{validated-input
      type='password'
      value=password
      validation=validations.attrs.password
      label=(t "password")
      disabled=saveTask.isRunning}}

    {{validated-input
      type='password'
      value=passwordConfirmation
      validation=validations.attrs.passwordConfirmation
      label=(t "confirm-password")
      disabled=saveTask.isRunning}}

    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "changing-password" "change-password")}}
    </button>
  </form>
</div>