<div class="panel-body">
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      {{#bs-alert type="danger" dismissible=false}}
        {{#if messageKey}}{{t messageKey error=error}}{{else}}{{error}}{{/if}}
      {{/bs-alert}}
    {{else if messageKey}}
      {{#bs-alert type="success" dismissible=false}}{{t messageKey}}{{/bs-alert}}
    {{/if}}

    {{validated-input
      value=email
      validation=validations.attrs.email
      label=(t "email-address")
      autocomplete="email"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    {{validated-input
      value=firstName
      validation=validations.attrs.firstName
      label=(t "first-name")
      autocomplete="given-name"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    {{validated-input
      value=lastName
      validation=validations.attrs.lastName
      label=(t "last-name")
      autocomplete="family-name"
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    <div class="form-group">
      <label class="control-label">{{t "units.title"}}</label>

      {{#power-select
        options=unitsPresets
        searchEnabled=false
        selected=unitsPreset
        onchange=(action (mut unitsPreset))
        as |preset|}}
        {{t (concat "units.presets." preset)}}
      {{/power-select}}
    </div>

    {{#if (eq unitsPreset "custom")}}
      <div class="form-group">
        <label class="control-label">{{t "units.distance"}}</label>
        {{#power-select
          options=units.distanceUnits
          searchEnabled=false
          selected=distanceUnit
          onchange=(action (mut distanceUnit))
          as |unit|}}
          {{unit}}
        {{/power-select}}
      </div>

      <div class="form-group">
        <label class="control-label">{{t "units.speed"}}</label>
        {{#power-select
          options=units.speedUnits
          searchEnabled=false
          selected=speedUnit
          onchange=(action (mut speedUnit))
          as |unit|}}
          {{unit}}
        {{/power-select}}
      </div>

      <div class="form-group">
        <label class="control-label">{{t "units.lift"}}</label>
        {{#power-select
          options=units.liftUnits
          searchEnabled=false
          selected=liftUnit
          onchange=(action (mut liftUnit))
          as |unit|}}
          {{unit}}
        {{/power-select}}
      </div>

      <div class="form-group">
        <label class="control-label">{{t "units.altitude"}}</label>
        {{#power-select
          options=units.altitudeUnits
          searchEnabled=false
          selected=altitudeUnit
          onchange=(action (mut altitudeUnit))
          as |unit|}}
          {{unit}}
        {{/power-select}}
      </div>
    {{/if}}

    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "changing" "change")}}
    </button>
  </form>
</div>