<div class="panel-heading">
  <h3 class="panel-title">{{t "register-club"}}</h3>
</div>
<div class="panel-body">
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      <BsAlert @type="danger" @dismissible={{false}}>
        {{#if messageKey}}{{t messageKey error=error}}{{else}}{{error}}{{/if}}
      </BsAlert>
    {{else if messageKey}}
      <BsAlert @type="success" @dismissible={{false}}>{{t messageKey}}</BsAlert>
    {{/if}}

    <ValidatedInput
      @value={{name}}
      @validation={{validations.attrs.name}}
      @label={{t "name"}}
      @autocomplete="organization"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />

    <ValidatedInput
      @value={{email}}
      @validation={{validations.attrs.email}}
      @label={{t "club-contact-email-address"}}
      @autocomplete="email"
      @didValidate={{didValidate}} />

    <ValidatedInput
      @value={{website}}
      @validation={{validations.attrs.website}}
      @label={{t "website-url"}}
      @autocomplete="optional"
      @didValidate={{didValidate}} />

    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "creating" "create")}}
    </button>
  </form>
</div>