<div class="panel-body">
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      {{#bs-alert type="danger" dismissible=false}}
        {{#if messageKey}}{{t messageKey error=error}}{{else}}{{error}}{{/if}}
      {{/bs-alert}}
    {{else if messageKey}}
      {{#bs-alert type="success" dismissible=false}}{{t messageKey}}{{/bs-alert}}
    {{/if}}

    {{validated-input
      value=callsign
      validation=validations.attrs.callsign
      label=(t "tracking-callsign")
      disabled=saveTask.isRunning
      didValidate=didValidate}}

    <div class="form-group">
      <label class="control-label">{{t "tracking-delay"}}</label>

      {{#power-select
        options=delays
        searchEnabled=false
        selected=_delay
        onchange=(action (mut delay))
        as |delay|}}
        {{t "tracking-delay-choice" delay=delay}}
      {{/power-select}}
    </div>

    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "changing" "change")}}
    </button>
  </form>
</div>