<div class="panel-heading">
  <h3 class="panel-title">{{t "live-tracking-key"}}</h3>
  <p class="panel-help-icon">
    {{#link-to "tracking.info"}}{{fa-icon "question" fixedWidth=true}}{{/link-to}}
  </p>
</div>
<div class="panel-body">
  {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {{/if}}

  <p style="margin: 10px 0px 20px;">
    {{t 'your-live-tracking-key'}} <span class="label tracking-key">{{key}}</span>
  </p>

  <form {{action (perform saveTask) on="submit"}}>
    <button class="btn btn-primary btn-block" type="submit" disabled={{saveTask.isRunning}}>
      {{t (if saveTask.isRunning "generating-new-key" "generate-new-key")}}
    </button>
  </form>
</div>
