{{#base-page}}
  <div class="page-header">
    <h1>{{club.name}}</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="well col-sm-8 col-sm-offset-2">
          <table class="right">
            <tr>
              <th>{{t "name"}}</th>
              <td>{{club.name}}</td>
            </tr>

            {{#if club.website}}
              <tr>
                <th>{{t "website"}}</th>
                <td><a target="_blank" href="{{club.website}}">{{club.website}}</a></td>
              </tr>
            {{/if}}

            <tr>
              <th>{{t "created"}}</th>
              <td>
                {{#if club.owner}}
                  {{format-relative club.timeCreated}} by {{#link-to "user" club.owner.id}}{{club.owner.name}}{{/link-to}}
                {{else}}
                  {{format-relative club.timeCreated}}
                {{/if}}
              </td>
            </tr>
          </table>

          <p>
            {{#if club.isWritable}}
              {{#link-to "club.edit" club.id class="btn btn-default"}}{{t "edit"}}{{/link-to}}
            {{/if}}

            {{#link-to "flights.club" club.id class="btn btn-default"}}{{fa-icon "plane"}} {{t "flights"}}{{/link-to}}
            {{#link-to "statistics.club" club.id class="btn btn-default"}}{{fa-icon "bar-chart"}} {{t "statistics"}}{{/link-to}}
            {{#link-to "club.pilots" club.id class="btn btn-default"}}{{fa-icon "group"}} {{t "members"}}{{/link-to}}
          </p>
        </div>
      </div>
    </div>
  </div>
{{/base-page}}
