<form {{action "submit" on="submit"}}>
  {{#if error}}
    {{#bs-alert type="danger" dismissible=false}}{{error}}{{/bs-alert}}
  {{/if}}

  <div class="form-group">
    <label class="control-label">{{t "aircraft-type"}}</label>
    {{aircraft-model-select models=models modelId=modelId onChange=(action (mut modelId))}}
  </div>

  {{validated-input
    value=registration
    validation=validations.attrs.registration
    label=(t "registration")
    disabled=saveTask.isRunning
    didValidate=didValidate}}

  {{validated-input
    value=competitionId
    validation=validations.attrs.competitionId
    label=(t "competition-id")
    disabled=saveTask.isRunning
    didValidate=didValidate}}

  <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
    {{t (if saveTask.isRunning "changing" "change")}}
  </button>
</form>
