<form {{action "submit" on="submit"}}>
  {{#if error}}
    {{#bs-alert type="danger" dismissible=false}}{{error}}{{/bs-alert}}
  {{/if}}

  {{#validated-block label=(t "pilot") validation=validations.attrs.pilotId didValidate=didValidate}}
    {{pilot-select clubMembers=clubMembers pilotId=pilotId onChange=(action (mut pilotId))}}
  {{/validated-block}}

  {{#if showPilotNameInput}}
    {{validated-input
      value=pilotName
      validation=validations.attrs.pilotName
      label=(t "pilot")
      disabled=saveTask.isRunning
      didValidate=didValidate}}
  {{/if}}

  {{#validated-block label=(t "copilot") validation=validations.attrs.copilotId didValidate=didValidate}}
    {{pilot-select clubMembers=clubMembers pilotId=copilotId onChange=(action (mut copilotId))}}
  {{/validated-block}}

  {{#if showCopilotNameInput}}
    {{validated-input
      value=copilotName
      validation=validations.attrs.copilotName
      label=(t "copilot")
      disabled=saveTask.isRunning
      didValidate=didValidate}}
  {{/if}}

  <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
    {{t (if saveTask.isRunning "changing" "change")}}
  </button>
</form>
