<form {{action "submit" on="submit"}}>
  {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {{/if}}

  <div class="form-group">
    <label class="control-label">{{t "pilot"}}</label>
    {{pilot-select clubMembers=clubMembers pilotId=pilotId onChange=(action (mut pilotId))}}
  </div>

  {{#if showPilotNameInput}}
    {{validated-input
      value=pilotName
      validation=validations.attrs.pilotName
      label=(t "pilot")
      disabled=pending}}
  {{/if}}

  <div class="form-group has-feedback {{if validations.attrs.copilotId.isInvalid "has-error"}}">
    <label class="control-label">{{t "copilot"}}</label>
    {{pilot-select clubMembers=clubMembers pilotId=copilotId onChange=(action (mut copilotId))}}

    {{#if validations.attrs.copilotId.message}}
      <p class="help-block">{{validations.attrs.copilotId.message}}</p>
    {{/if}}
  </div>

  {{#if showCopilotNameInput}}
    {{validated-input
      value=copilotName
      validation=validations.attrs.copilotName
      label=(t "copilot")
      disabled=pending}}
  {{/if}}

  <button class="btn btn-primary btn-block" type="submit" disabled={{or pending (not validations.isValid)}}>
    {{t (if pending "changing" "change")}}
  </button>
</form>
