<form {{action "submit" on="submit"}}>
  {{#if error}}
    {{#bs-alert type="danger" dismissible=false}}{{error}}{{/bs-alert}}
  {{/if}}

  {{validated-input
    value=name
    validation=validations.attrs.name
    label=(t "name")
    disabled=saveTask.isRunning
    didValidate=didValidate}}

  {{validated-input
    value=website
    validation=validations.attrs.website
    label=(t "website")
    disabled=saveTask.isRunning
    didValidate=didValidate}}

  <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
    {{t (if saveTask.isRunning "editing" "edit")}}
  </button>
</form>
