<td>
  <span class="badge" style={{badgeStyle}}>
    {{#if row.competitionId}}
      {{row.competitionId}}
    {{else}}
      &nbsp;
    {{/if}}
  </span>
</td>
<td>
  {{#unless (isUndefined row.fix.time)}}
    {{format-time (multiply row.fix.time 1000) format="hhmmss" timeZone="UTC"}}
  {{else}}
    --:--:--
  {{/unless}}
</td>
<td>
  {{#unless (isUndefined row.fix.alt-msl)}}
    {{format-altitude row.fix.alt-msl}} <small>MSL</small>
  {{else}}
    --
  {{/unless}}
</td>
<td>
  {{#unless (isUndefined row.fix.alt-gnd)}}
    {{format-altitude row.fix.alt-gnd}} <small>GND</small>
  {{else}}
    --
  {{/unless}}
</td>
<td>
  {{#unless (isUndefined row.fix.vario)}}
    {{format-lift row.fix.vario}}
  {{else}}
    --
  {{/unless}}
</td>
<td>
  {{#unless (isUndefined row.fix.speed)}}
    {{format-speed row.fix.speed}}
  {{else}}
    --
  {{/unless}}
</td>
<td>
  {{#if row.removable}}
    {{fa-icon "remove" click=(action "remove" bubbles=false)}}
  {{/if}}
</td>
