<td>
  <LinkTo @route="flight" @model={{row.id}} class="badge" style={{badgeStyle}}>{{row.competitionId}}</LinkTo>
</td>
<td class="col-xs-1">
  {{#if row.score}}
    {{format-distance row.score}}
  {{/if}}
</td>

<td class="col-xs-3">
  {{#if row.distance}}
      <span style="color: #ff2c73">{{fa-icon "arrows-h"}}</span>
      {{format-distance row.distance}}
  {{/if}}
  {{#if row.triangleDistance}}
      <span style="color: #9f14ff">{{fa-icon "play" rotate=270}}</span>
      {{format-distance row.triangleDistance}}
  {{/if}}
</td>





<td>
  {{#unless (is-undefined row.fix.time)}}
    {{format-time (multiply row.fix.time 1000) format="hhmmss" timeZone="UTC"}}
  {{else}}
    --:--:--
  {{/unless}}
</td>
<td>
  {{#unless (is-undefined row.fix.alt-msl)}}
    {{format-altitude row.fix.alt-msl}} <small>MSL</small>
  {{else}}
    --
  {{/unless}}
</td>
{{!-- <td> --}}
{{!--   {{#unless (is-undefined row.fix.alt-gnd)}} --}}
{{!--     {{format-altitude row.fix.alt-gnd}} <small>GND</small> --}}
{{!--   {{else}} --}}
{{!--     -- --}}
{{!--   {{/unless}} --}}
{{!-- </td> --}}
<td>
  {{#unless (is-undefined row.fix.vario)}}
    {{format-lift row.fix.vario}}
  {{else}}
    --
  {{/unless}}
</td>
<td>
  {{#unless (is-undefined row.fix.speed)}}
    {{format-speed row.fix.speed}}
  {{else}}
    --
  {{/unless}}
</td>
<td class="col-xs-3">
  {{#if row.removable}}
    {{fa-icon "remove" click=(action "remove" bubbles=false)}}
  {{/if}}
</td>
