{{#if (not (contains omittedColumns "date"))}}
  <td class="date">
    {{#if flight.date}}
      {{format-date flight.date format="ddmmyyyy"}}
    {{/if}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "score"))}}
  <td class="numeric">
    {{format-number flight.score maximumFractionDigits=0}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "pilot"))}}
  <td class="pilot">
    {{#if flight.pilot.id}}
      <a href="/users/{{flight.pilot.id}}/">{{flight.pilot.name}}</a>
    {{else if flight.pilot.name}}
      {{flight.pilot.name}}
    {{/if}}

    {{#if (and flight.pilot flight.copilot)}}<br/>{{/if}}

    {{#if flight.copilot.id}}
      <a href="/users/{{flight.copilot.id}}/">{{flight.copilot.name}}</a>
    {{else if flight.copilot.name}}
      {{flight.copilot.name}}
    {{/if}}

    {{#if (not (or flight.pilot flight.copilot)) }}
      [{{flight.igcFile.owner.name}}]
    {{/if}}
  </td>
{{/if}}


{{#if (not (contains omittedColumns "distance"))}}
  <td class="numeric">
    {{#if flight.distance}}
      {{format-distance flight.distance}}
    {{/if}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "takeoff_airport"))}}
  <td class="airport">
    {{#if flight.airport}}
      {{x-flag code=flight.airport.countryCode}}
      <a href="/flights/airport/{{flight.airport.id}}">{{flight.airport.name}}</a>
    {{/if}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "club"))}}
  <td class="club hidden-sm hidden-xs">
    {{#if flight.club}}
      <a href="/clubs/{{flight.club.id}}">{{truncate flight.club.name 25}}</a>
    {{/if}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "aircraft"))}}
  <td class="aircraft hidden-xs">
    <span rel="tooltip" title="{{or flight.registration flight.igc_file.registration (t 'unknown')}}">
      {{#if flight.model}}
        {{flight.model}}
      {{else if flight.igcFile.model}}
        [{{flight.igcFile.model}}]
      {{/if}}
    </span>
  </td>
{{/if}}

{{#if (not (contains omittedColumns "times"))}}
  <td class="times hidden-xs">
    {{#if (and flight.takeoffTime flight.landingTime)}}
      {{format-time flight.takeoffTime format="hhmm" timeZone="UTC"}}-{{format-time flight.landingTime format="hhmm" timeZone="UTC"}}
    {{/if}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "link"))}}
  <td class="column-buttons">
    <a href="/flights/{{flight.id}}/" class="btn btn-default btn-sm">{{t "show"}}</a>
    {{pin-star flightId=flight.id}}
  </td>
{{/if}}

{{#if (not (contains omittedColumns "num_comments"))}}
  <td class="num_comments hidden-xs">
    {{#if (gt flight.numComments 0)}}
      <i class="icon-comments-alt" title={{t "n-comments" numComments=flight.numComments}}></i>
    {{/if}}
  </td>
{{/if}}