{{#if showDate}}
  <td class="date">
    {{#if flight.scoreDate}}
      {{format-date flight.scoreDate format="ddmmyyyy"}}
    {{/if}}
  </td>
{{/if}}

<td class="numeric">
  {{format-number flight.score maximumFractionDigits=0}}
</td>

{{#if showPilot}}
  <td class="pilot">
    {{#if flight.pilot.id}}
      {{link-to pilotName "user" flight.pilot.id}}
    {{else if pilotName}}
      {{pilotName}}
    {{/if}}

    {{#if (and pilotName copilotName)}}<br/>{{/if}}

    {{#if flight.copilot.id}}
      {{link-to copilotName "user" flight.copilot.id}}
    {{else if copilotName}}
      {{copilotName}}
    {{/if}}

    {{#if (not (or pilotName copilotName)) }}
      [{{flight.igcFile.owner.name}}]
    {{/if}}
  </td>
{{/if}}


<td class="numeric">
  {{#if flight.distance}}
    {{format-distance flight.distance}}
  {{/if}}
</td>

{{#if showAirport}}
  <td class="airport">
    {{#if flight.takeoffAirport}}
      {{x-flag code=flight.takeoffAirport.countryCode}}
      {{link-to flight.takeoffAirport.name "flights.airport" flight.takeoffAirport.id}}
    {{/if}}
  </td>
{{/if}}

{{#if showClub}}
  <td class="club hidden-sm hidden-xs">
    {{#if flight.club}}
      {{link-to (truncate flight.club.name 25) "club" flight.club.id}}
    {{/if}}
  </td>
{{/if}}

<td class="aircraft hidden-xs">
  <span rel="tooltip" title="{{or flight.registration flight.igcFile.registration (t 'unknown')}}">
    {{#if flight.model}}
      {{flight.model.name}}
    {{else if flight.igcFile.model}}
      [{{flight.igcFile.model}}]
    {{/if}}
  </span>
</td>

{{#if showTimes}}
  <td class="times hidden-xs">
    {{#if (and flight.takeoffTime flight.landingTime)}}
      {{format-time flight.takeoffTime format="hhmm" timeZone="UTC"}}-{{format-time flight.landingTime format="hhmm" timeZone="UTC"}}
    {{/if}}
  </td>
{{/if}}

<td class="column-buttons">
  {{#link-to "flight" flight.id class="btn btn-default btn-sm"}}{{t "show"}}{{/link-to}}
  {{pin-star flightId=flight.id}}
</td>

<td class="num_comments hidden-xs">
  {{#if (gt flight.numComments 0)}}
    {{fa-icon "comments-o" title=(t "n-comments" numComments=flight.numComments)}}
  {{/if}}
</td>