<tr class="small selectable {{if this.selected "selected"}}" ...attributes {{on "click" this.handleClick}}>
  <td class="start">{{num}}</td>
  <td class="numeric">{{format-distance leg.distance decimals=1}}</td>
  <td class="duration hidden-md">{{format-seconds leg.duration}}</td>
  <td class="numeric">{{format-speed speed}}</td>
  <td class="numeric">{{format-number climbPercentage style="percent" maximumFractionDigits=1}}</td>
  <td class="numeric">{{#if (is-undefined climbRate)}}-{{else}}{{format-lift climbRate}}{{/if}}</td>
  <td class="numeric">{{format-number glideRate maximumFractionDigits=1}}</td>
</tr>