<td>
  {{#if isCircling}}
    {{#if phase.isCirclingLeft}}
      <i class="icon-rotate-left" title="{{t "flight-phase.circling"}} {{phase.circlingDirection}}"></i>
    {{else if phase.isCirclingRight}}
      <i class="icon-rotate-right" title="{{t "flight-phase.circling"}} {{phase.circlingDirection}}"></i>
    {{else}}
      <i class="icon-circle-blank" title="{{t "flight-phase.circling"}} {{phase.circlingDirection}}"></i>
    {{/if}}
  {{else if isPowered}}
    <i class="icon-bolt" title="{{t "flight-phase.powered"}}"></i>
  {{else}}
    <i class="icon-long-arrow-right" title="{{t "flight-phase.cruise"}}"></i>
  {{/if}}
</td>
<td class="start">{{format-time phase.startTime format="hhmmss" timeZone="UTC"}}</td>
<td class="duration hidden-md">{{format-seconds phase.duration}}</td>
<td class="numeric">{{format-altitude phase.altDiff withUnit=false}}</td>
<td class="numeric">{{if (not isCircling) (format-distance phase.distance decimals=1 withUnit=false)}}</td>
<td class="numeric">{{format-lift phase.vario withUnit=false}}</td>
<td class="numeric">{{format-speed phase.speed withUnit=false}}</td>
<td class="numeric">{{#if (not isCircling)}}{{format-number glideRate maximumFractionDigits=1}}{{/if}}</td>
