<div class="relative-fullscreen" ...attributes {{didInsert this.setup}}>
  <div id="sidebar" class="sidebar collapsed">
    {{! Nav tabs }}
    <ul class="sidebar-tabs" role="tablist">
      <li>
        <a href="#tab-overview" title={{t "overview"}} role="tab">
          {{fa-icon "info" size="lg"}}
        </a>
      </li>
      <li>
        <a href="#tab-comments" title={{t "comments"}} role="tab">
          {{fa-icon "comments-o" size="lg"}}
        </a>
      </li>
      <li>
        <a href="#tab-stats-total" title={{t "total"}} role="tab">
          {{fa-icon "bar-chart" size="lg"}}
        </a>
      </li>
      <li>
        <a href="#tab-stats-legs" title={{t "leg-statistics"}} role="tab">
          {{fa-icon "arrows-h" size="lg"}}
        </a>
      </li>

      {{#if phases}}
        <li>
          <a href="#tab-stats-phases" title={{t "phase-statistics"}} role="tab">
            {{fa-icon "step-forward" size="lg"}}
          </a>
        </li>
      {{/if}}

      <li>
        <a href="#tab-wingmen" title={{t "wingmen"}} role="tab">
          {{fa-icon "group" size="lg"}}
        </a>
      </li>
    </ul>
    {{! Tab panes }}
    <div class="sidebar-content">
      <div class="sidebar-pane" id="tab-overview">
        <h3>{{t "overview"}}</h3>
        <div class="sidebar-pane-content">
          <FlightDetailsTable @flight={{flight}} @transitionTo={{transitionTo}} />
        </div>
      </div>

      <div class="sidebar-pane" id="tab-comments">
        <h3>{{t "comments"}}</h3>
        <div class="sidebar-pane-content">
          <CommentsList @comments={{comments}} @flightId={{flight.id}} />
        </div>
      </div>

      <div class="sidebar-pane" id="tab-stats-total">
        <h3>{{t "statistics"}}</h3>
        <div class="sidebar-pane-content">
          <FlightPerformancePanel @performance={{performance}} />
        </div>
      </div>

      <div class="sidebar-pane" id="tab-stats-legs">
        <h3>{{t "leg-statistics"}}</h3>
        <div class="sidebar-pane-content">
          <FlightLegPanel @legs={{legs}} @selection={{flightPhase.selection}} @onSelect={{action (mut flightPhase.selection)}} />
        </div>
      </div>

      {{#if phases}}
        <div class="sidebar-pane" id="tab-stats-phases">
          <h3>{{t "phase-statistics"}}</h3>
          <div class="sidebar-pane-content">
            <div class="table-responsive">
              <FlightPhaseTable @phases={{phases}} @selection={{flightPhase.selection}} @onSelect={{action (mut flightPhase.selection)}} />
            </div>
          </div>
        </div>
      {{/if}}

      <div class="sidebar-pane" id="tab-wingmen">
        <h3>{{t "wingmen"}}</h3>
        <div class="sidebar-pane-content">
          <WingmanTable @visibleFlights={{fixCalc.flights}} @nearFlights={{nearFlights}} @onSelect={{action "selectWingman"}} />
        </div>
      </div>
    </div>
  </div>

  <FlightMap
    @flights={{fixCalc.flights}}
    @fixes={{fixCalc.fixes}}
    @phaseHighlightCoords={{flightPhase.coordinates}}
    @hoverEnabled={{not (or fixCalc.isRunning cesiumEnabled)}}
    @defaultTime={{fixCalc.defaultTime}}
    @onTimeChange={{action (mut fixCalc.time)}}
    @onExtentChange={{action (mut mapExtent)}}
    @onCesiumEnabledChange={{action (mut cesiumEnabled)}}
    @addFlight={{action "addFlight"}}
    @calculatePadding={{action "calculatePadding"}}
    class="sidebar-map ol-with-barogram"
  >

    <FullscreenButton @fullscreenElement="#fullscreen-content" />
    <PlaybackButton @isRunning={{fixCalc.isRunning}} @onToggle={{action "togglePlayback"}} />

  </FlightMap>

  <div id="barogram_panel" class="map-bottom-panel map-overlay">
    <div style="overflow: auto; max-height: 115px">
      <FixTable
        @flights={{fixCalc.flights}}
        @fixes={{fixCalc.fixes}}
        @selection={{mut selectedFlightId}}
        @onRemove={{action "removeFlight"}} />
    </div>

    <FlightBarogram
      @flights={{fixCalc.flights}}
      @selection={{selectedFlightId}}
      @hoverMode={{not fixCalc.isRunning}}
      @timeInterval={{timeInterval}}
      @timeHighlight={{flightPhase.selection}}
      @time={{fixCalc.time}}
      @defaultTime={{fixCalc.defaultTime}} />
  </div>
</div>