<td class="start">{{num}}</td>
<td class="numeric">{{leg.distance}}</td>
<td class="duration hidden-md">{{leg.duration.text}}</td>
<td class="numeric">{{leg.speed}}</td>
<td class="numeric">{{leg.climbPercentage}}%</td>
<td class="numeric">{{leg.vario}}</td>
<td class="numeric">{{leg.glideRate}}</td>
