<td class="date">
  {{format-date flight.flightDate format="ddmmyyyy" timeZone="UTC"}}
</td>

<td class="col-sm-1">
  {{format-number flight.score maximumFractionDigits=0}}
</td>

<td class="col-sm-3">
  <LinkTo @route="user" @model={{flight.pilot.id}}>{{pilotName}}</LinkTo>

  {{#if (and pilotName copilotName)}}<br/>{{/if}}

  {{#if flight.copilot.id}}
    <LinkTo @route="user" @model={{flight.copilot.id}}>{{copilotName}}</LinkTo>
  {{else if copilotName}}
    {{copilotName}}
  {{/if}}
</td>

<td class="col-sm-1">
{{flight.competitionId}}
</td>

  <td class="col-xs-3">
    {{#if flight.landscape}}
      {{flight.landscape}}
    {{/if}}
  </td>

{{#if showAirport}}
  <td class="col-sm-3">
    {{#if flight.takeoffAirport}}
      <XFlag @code={{flight.takeoffAirport.countryCode}} />
      <LinkTo @route="flights.airport" @model={{flight.takeoffAirport.id}}>{{flight.takeoffAirport.name}}</LinkTo>
    {{/if}}
  </td>
{{/if}}

{{#if showClub}}
  <td class="club hidden-sm hidden-xs">
    {{#if flight.club}}
      <LinkTo @route="club" @model={{flight.club.id}}>{{truncate flight.club.name 25}}</LinkTo>
    {{/if}}
  </td>
{{/if}}

<td class="col-sm-3">
  <span>
    {{#if flight.model}}
      {{flight.model.name}}
    {{else if flight.igcFile.model}}
      [{{flight.igcFile.model}}]
    {{/if}}

    <BsTooltip @title={{or flight.registration flight.igcFile.registration (t "unknown")}} />
  </span>
</td>

<td class="column-buttons">
  <LinkTo @route="flight" @model={{flight.id}} class="btn btn-default btn-sm">{{t "show"}}</LinkTo>
  <PinStar @flightId={{flight.id}} />
</td>

{{#if flight.groupflight_id}}
  <td class="column-buttons">
    <LinkTo @route="groupflight" @model={{flight.groupflight_id}} class="btn btn-default btn-sm">{{t "groupflight"}}</LinkTo>
  </td>
{{/if}}

<td class="num_comments hidden-xs">
  {{#if (gt flight.numComments 0)}}
    {{fa-icon "comments-o" title=(t "n-comments" numComments=flight.numComments)}}
  {{/if}}
</td>