<thead>
<tr>
  {{#if showDate}}
    <SortableTableHeader @column="date" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="date">{{t "date"}}</SortableTableHeader>
  {{/if}}

  <SortableTableHeader @column="OLC+ km" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}}  @class="col-sm-1">{{"OLC km"}}</SortableTableHeader>

  {{#if showPilot}}
    <SortableTableHeader @column="col-sm-3" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="pilot">{{t "pilot"}}</SortableTableHeader>
    <SortableTableHeader @column="competition-id" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-1">{{t "competition-id"}}</SortableTableHeader>
  {{/if}}

{{!--   <SortableTableHeader @column="distance" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="numeric">{{t "distance"}}</SortableTableHeader> --}}

  {{#if showLandscape}}
    <SortableTableHeader @column="landscape" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-1">{{t "landscape"}}</SortableTableHeader>
  {{/if}}

  {{#if showAirport}}
    <SortableTableHeader @column="airport" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-2">{{t "airport"}}</SortableTableHeader>
  {{/if}}

  {{#if showClub}}
    <SortableTableHeader @column="club" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-2">{{t "club"}}</SortableTableHeader>
  {{/if}}

  <SortableTableHeader @column="aircraft" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-3">{{t "aircraft"}}</SortableTableHeader>

  {{#if showTimes}}
    <SortableTableHeader @column="time" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="times hidden-xs">{{t "time"}}</SortableTableHeader>
  {{/if}}

  <th class="column-buttons"></th>
  <th class="num_comments hidden-xs"></th>
</tr>
</thead>
<tbody>
{{#each flights as |flight|}}
  <FlightListRow
    @flight={{flight}}
    @showDate={{showDate}}
    @showPilot={{showPilot}}
    @showAirport={{showAirport}}
    @showClub={{showClub}}
    @showTimes={{showTimes}} />
{{else}}
  <tr>
    <td colspan="10">{{t "no-flights-found"}}</td>
  </tr>
{{/each}}
</tbody>