<thead>
<tr>
  {{#if showDate}}
    {{#sortable-table-header column="date" sortColumn=sortColumn sortOrder=sortOrder defaultOrder="desc" class="date"}}{{t "date"}}{{/sortable-table-header}}
  {{/if}}

  {{#sortable-table-header column="score" sortColumn=sortColumn sortOrder=sortOrder defaultOrder="desc" class="numeric"}}{{t "score"}}{{/sortable-table-header}}

  {{#if showPilot}}
    {{#sortable-table-header column="pilot" sortColumn=sortColumn sortOrder=sortOrder class="pilot"}}{{t "pilot"}}{{/sortable-table-header}}
  {{/if}}

  {{#sortable-table-header column="distance" sortColumn=sortColumn sortOrder=sortOrder defaultOrder="desc" class="numeric"}}{{t "distance"}}{{/sortable-table-header}}

  {{#if showAirport}}
    {{#sortable-table-header column="airport" sortColumn=sortColumn sortOrder=sortOrder class="airport"}}{{t "airport"}}{{/sortable-table-header}}
  {{/if}}

  {{#if showClub}}
    {{#sortable-table-header column="club" sortColumn=sortColumn sortOrder=sortOrder class="club hidden-sm hidden-xs"}}{{t "club"}}{{/sortable-table-header}}
  {{/if}}

  {{#sortable-table-header column="aircraft" sortColumn=sortColumn sortOrder=sortOrder class="aircraft hidden-xs"}}{{t "aircraft"}}{{/sortable-table-header}}

  {{#if showTimes}}
    {{#sortable-table-header column="time" sortColumn=sortColumn sortOrder=sortOrder defaultOrder="desc" class="times hidden-xs"}}{{t "time"}}{{/sortable-table-header}}
  {{/if}}

  <th class="column-buttons"></th>
  <th class="num_comments hidden-xs"></th>
</tr>
</thead>
<tbody>
{{#each flights as |flight|}}
  {{flight-list-row
    flight=flight
    showDate=showDate
    showPilot=showPilot
    showAirport=showAirport
    showClub=showClub
    showTimes=showTimes}}
{{else}}
  <tr>
    <td colspan="10">{{t "no-flights-found"}}</td>
  </tr>
{{/each}}
</tbody>