<thead>
<tr>
  {{#if showDate}}
    <th class="date">{{t "date"}}</th>
  {{/if}}

  <th class="numeric">{{t "score"}}</th>

  {{#if showPilot}}
    <th class="pilot">{{t "pilot"}}</th>
  {{/if}}

  <th class="numeric distance">{{t "distance"}}</th>

  {{#if showAirport}}
    <th class="airport">{{t "airport"}}</th>
  {{/if}}

  {{#if showClub}}
    <th class="club hidden-sm hidden-xs">{{t "club"}}</th>
  {{/if}}

  <th class="aircraft hidden-xs">{{t "aircraft"}}</th>

  {{#if showTimes}}
    <th class="times hidden-xs">{{t "time"}}</th>
  {{/if}}

  <th class="column-buttons"></th>
  <th class="num_comments hidden-xs"></th>
</tr>
</thead>
<tbody>
{{#each flights as |flight|}}
  {{flight-list-row
    flight=flight
    showDate=showDate
    showPilot=showPilot
    showAirport=showAirport
    showClub=showClub
    showTimes=showTimes}}
{{else}}
  <tr>
    <td colspan="10">{{t "no-flights-found"}}</td>
  </tr>
{{/each}}
</tbody>