<td>
  {{#if phase.isCircling}}
    {{#if phase.isCirclingLeft}}
      <i class="icon-rotate-left" title="{{phase.type}} {{phase.circlingDirection}}"></i>
    {{else if phase.isCirclingRight}}
      <i class="icon-rotate-right" title="{{phase.type}} {{phase.circlingDirection}}"></i>
    {{else}}
      <i class="icon-circle-blank" title="{{phase.type}} {{phase.circlingDirection}}"></i>
    {{/if}}
  {{else if phase.isPowered}}
    <i class="icon-bolt" title="{{phase.type}}"></i>
  {{else}}
    <i class="icon-long-arrow-right" title="{{phase.type}}"></i>
  {{/if}}
</td>
<td class="start">{{format-time phase.startTime format="hhmmss" timeZone="UTC"}}</td>
<td class="duration hidden-md">{{format-seconds phase.duration}}</td>
<td class="numeric">{{format-altitude phase.altDiff withUnit=false}}</td>
<td class="numeric">{{if (not phase.isCircling) (format-distance phase.distance decimals=1 withUnit=false)}}</td>
<td class="numeric">{{format-lift phase.vario withUnit=false}}</td>
<td class="numeric">{{format-speed phase.speed withUnit=false}}</td>
<td class="numeric">{{phase.glideRate}}</td>
