<h4>{{t "distance"}}</h4>
<FlightLegTable @legs={{@legs.classic}} @selection={{@selection}} @onSelect={{@onSelect}} />

<h4>{{t "triangle"}}</h4>
<FlightLegTable @legs={{@legs.triangle}} @selection={{@selection}} @onSelect={{@onSelect}} />