<div class="panel panel-default">
  <div class="panel-body follower-panel">
    <h4 class="media-heading">
      {{#link-to "user" follower.id}}{{follower.name}}{{/link-to}}
    </h4>

    <p>
      {{#if follower.club}}
        {{#link-to "club" follower.club.id}}{{follower.club.name}}{{/link-to}}
      {{else}}
        &nbsp;
      {{/if}}
    </p>

    {{#if account.user}}
      {{#if (eq follower.id account.user.id)}}
        <button class="btn btn-default form-control" disabled>
          {{fa-icon "ban" fixedWidth=true}}
          {{t "this-is-you"}}
        </button>
      {{else if follower.currentUserFollows}}
        <button class="btn btn-default form-control" disabled={{unfollowTask.isRunning}} {{action (perform unfollowTask)}}>
          {{fa-icon "minus" fixedWidth=true}}
          {{t "unfollow"}}
        </button>
      {{else}}
        <button class="btn btn-default form-control" disabled={{followTask.isRunning}} {{action (perform followTask)}}>
          {{fa-icon "plus" fixedWidth=true}}
          {{t "follow"}}
        </button>
      {{/if}}
    {{/if}}
  </div>
</div>