<table class="table table-flight-details">
  <tbody>
    <tr>
      <th>{{t "club"}}</th>
      <td><LinkTo @route="club" @model={{club.id}}>{{club.name}}</LinkTo></td>
    </tr>

  <tr>
    <th>{{t "updated"}}</th>
    <td>
      {{format-relative groupflight.time_modified }}
      {{format-date groupflight.time_modified}}
      {{format-time groupflight.time_modified  format='hhmmss' timeZone="UTC"}}
      {{'UTC'}}
    </td>
  </tr>
  <tr>
    <th>{{t "flight"}}</th>
    <td>
      {{format-relative groupflight.date_flight }}
      {{format-date groupflight.date_flight}}
    </td>
  </tr>

  <tr>
    <th>{{t "landscape"}}</th>
    <td>
      {{groupflight.landscape }}
    </td>
  </tr>
  {{#if groupflight.takeoffAirport.name}}
  <tr>
    <th>{{t "airport"}}</th>
    <td>
      {{groupflight.takeoffAirport.name }}
    </td>
  </tr>
  {{/if}}

{{groupflight.ids}}

  {{#if nGliders}}
  <tr>
    <th>{{t "pilots"}}</th>
    <td>
      {{nGliders}}
    </td>
  </tr>
{{/if}}

  </tbody>
</table>

{{!-- <p> --}}
{{!--   <span title={{t "pin-button-title"}}> --}}
{{!--     <PinButton @flightId={{flight.id}} /> --}}
{{!--   </span> --}}
{{!-- </p> --}}

