<table class="table table-flight-details">
  <tbody>
  {{#if flight.club}}
    <tr>
      <th>{{t "club"}}</th>
      <td><LinkTo @route="club" @model={{flight.club.id}}>{{flight.club.name}}</LinkTo></td>
    </tr>
  {{/if}}


  <tr>
    <th>{{t "updated"}}</th>
    <td>
{{!--     {{club.name}} --}}
{{!--       {{format-time groupflight.time_modified}} --}}
{{!--       format='hhmmss' timeZone="UTC" --}}
    </td>
  </tr>


  </tbody>
</table>

<p>
  <span title={{t "pin-button-title"}}>
    <PinButton @flightId={{flight.id}} />
  </span>
</p>

