  <td class="date">
      {{format-relative groupflight.time_modified }}
  </td>

  <td class="date">
      {{format-date groupflight.date_flight format="ddmmyyyy" timeZone="UTC"}}
  </td>

{{!--  For number of pilots:  --}}
{{!--   <td class="col-sm-3"> --}}
{{!--       {{groupflight.ids.length}} --}}
{{!--   </td> --}}

  <td class="col-sm-3">
      <LinkTo @route="club" @model={{groupflight.club.id}}>{{truncate groupflight.club.name 25}}</LinkTo>
  </td>

  <td class="col-sm-3">
      {{groupflight.landscape}}
  </td>

  <td class="airport">
    {{#if groupflight.takeoffAirport}}
      <XFlag @code={{groupflight.takeoffAirport.countryCode}} />
      <LinkTo @route="groupflights.airport" @model={{groupflight.takeoffAirport.id}}>{{groupflight.takeoffAirport.name}}</LinkTo>
    {{/if}}
  </td>

<td class="column-buttons">
  <LinkTo @route="groupflight" @model={{groupflight.id}} class="btn btn-default btn-sm">{{t "show"}}</LinkTo>
</td>

<td class="num_comments hidden-xs">
  {{#if (gt groupflight.numComments 0)}}
    {{fa-icon "comments-o" title=(t "n-comments" numComments=groupflight.numComments)}}
  {{/if}}
</td>