<thead>
<tr>
    <SortableTableHeader @column="time" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="date">{{t "updated"}}</SortableTableHeader>
    <SortableTableHeader @column="date" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}}  @class="date">{{t "flight"}}</SortableTableHeader>
{{!--     <SortableTableHeader @column="pilots"  @class="col-sm-3">{{t "pilots"}}</SortableTableHeader> --}}
    <SortableTableHeader @column="club" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-3">{{t "club"}}</SortableTableHeader>
    <SortableTableHeader @column="landscape" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="col-sm-3">{{t "landscape"}}</SortableTableHeader>
    <SortableTableHeader @column="airport" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="airport">{{t "airport"}}</SortableTableHeader>

    <th class="column-buttons"></th>
  <th class="num_comments hidden-xs"></th>
</tr>
</thead>
<tbody>
{{#each groupflights as |groupflight|}}
  <GroupflightListRow
    @groupflight={{groupflight}}
  />
{{else}}
  <tr>
    <td colspan="10">{{t "no-groupflights-found"}}</td>
  </tr>
{{/each}}
</tbody>