<thead>
<tr>
  {{#if showDate}}
    <SortableTableHeader @column="date" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="date">{{t "date"}}</SortableTableHeader>
  {{/if}}

  <SortableTableHeader @column="score" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="numeric">{{t "score"}}</SortableTableHeader>

  {{#if showAirport}}
    <SortableTableHeader @column="airport" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="airport">{{t "airport"}}</SortableTableHeader>
  {{/if}}

  {{#if showClub}}
    <SortableTableHeader @column="club" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @class="club hidden-sm hidden-xs">{{t "club"}}</SortableTableHeader>
  {{/if}}

    {{#if showTimes}}
    <SortableTableHeader @column="time" @sortColumn={{sortColumn}} @sortOrder={{sortOrder}} @defaultOrder="desc" @class="times hidden-xs">{{t "time"}}</SortableTableHeader>
  {{/if}}

  <th class="column-buttons"></th>
  <th class="num_comments hidden-xs"></th>
</tr>
</thead>
<tbody>
{{#each flights as |flight|}}
  <FlightListRow
    @flight={{flight}}
    @showDate={{showDate}}
    @showAirport={{showAirport}}
    @showClub={{showClub}}
    @showTimes={{showTimes}} />
{{else}}
  <tr>
    <td colspan="10">{{t "no-flights-found"}}</td>
  </tr>
{{/each}}
</tbody>