{{#active-link}}
  {{#link-to "flight-upload" click=didClickUpload title=(t "upload-flight")}}
    {{fa-icon "upload" size="lg" class="hidden-xs"}}
    {{fa-icon "upload" fixedWidth=true class="visible-xs"}}
    <span class="visible-xs">{{t "upload-flight"}}</span>
  {{/link-to}}
{{/active-link}}

{{#if session.isAuthenticated}}
  {{#active-link}}
    {{#link-to "notifications" title=(t "notifications")}}
      <span class="visible-xs">{{t "notifications"}}&nbsp;&nbsp;</span>
      {{notifications-badge}}
    {{/link-to}}
  {{/active-link}}

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{account.user.name}} {{fa-icon "caret-down"}}
    </a>
    <ul class="dropdown-menu">{{nav-bar-user-menu}}</ul>
  </li>
{{else}}

  {{#active-link class="visible-xs"}}
    {{#link-to "login"}}
      {{fa-icon "sign-in" fixedWidth=true}} {{t "login"}}
    {{/link-to}}
  {{/active-link}}

  <li class="dropdown hidden-xs">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{fa-icon "sign-in"}} {{t "login"}} {{fa-icon "caret-down"}}
    </a>
    <div class="dropdown-menu">{{login-form inline=true}}</div>
  </li>
{{/if}}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {{x-flag code=currentLocale.countryCode}}
    <span class="visible-xs">{{currentLocale.name}}</span>
    {{fa-icon "caret-down"}}
  </a>
  <ul class="dropdown-menu">
    {{#each availableLocales as |locale|}}
      <li><a href="#" {{action "setLocale" locale.code}}>{{x-flag code=locale.countryCode}} {{locale.name}}</a></li>
    {{/each}}
  </ul>
</li>
