<BsNavbar @type="inverse" @fluid={{false}} @position="fixed-top" @collapsed={{collapsed}} @onCollapse={{action (mut collapsed) true}} @onExpand={{action (mut collapsed) false}} data-test-nav-bar as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}

    <LinkTo @route="index" class="navbar-brand" @click={{action (mut collapsed) true}}>
      {{svg-jar "logoSkylines" class="logo"}} <span class="skylines-blue">Sky</span><span class="skylines-blue">Lines</span> <span class="skylines-white">Condor</span> {{svg-jar "logoSkylinesCondor" class="logo"}}
    </LinkTo>
  </div>

  <navbar.content>
    <navbar.nav as |nav|>
      <NavBarLink @nav={{nav}} @target="flights" @title={{t "flights"}} @icon="plane" />
      <NavBarLink @nav={{nav}} @target="clubs" @title={{t "groups"}} @icon="group" />
      <NavBarLink @nav={{nav}} @target="groupflights" @title={{t "groupflights"}} @icon="random" />
      <NavBarLink @nav={{nav}} @target="statistics" @title={{t "statistics"}} @icon="bar-chart" />
      <NavBarLink @nav={{nav}} @target="landscapes" @title={{t "landscapes"}} @icon="map" />
      <NavBarLink @nav={{nav}} @target="search" @title={{t "search.search"}} @icon="search" @listClass="hidden-lg" />
    </navbar.nav>

    <NavBarSearchForm @onSearch={{onSearch}} />
    <NavBarMenuRight @navbar={{navbar}} />
  </navbar.content>
</BsNavbar>
<hr>

