<form {{action "submit" on="submit"}}>
  {{#if error}}
    {{#bs-alert type="danger" dismissible=false}}{{error}}{{/bs-alert}}
  {{else if success}}
    {{#bs-alert type="success" dismissible=false}}{{t "password-recovered"}}{{/bs-alert}}
  {{/if}}

  {{validated-input
    type='password'
    value=password
    validation=validations.attrs.password
    label=(t "password")
    disabled=recoverTask.isRunning
    didValidate=didValidate}}

  {{validated-input
    type='password'
    value=passwordConfirmation
    validation=validations.attrs.passwordConfirmation
    label=(t "confirm-password")
    disabled=recoverTask.isRunning
    didValidate=didValidate}}

  <button class="btn btn-primary btn-block" type="submit" disabled={{or recoverTask.isRunning success (not validations.isValid)}}>
    {{t (if recoverTask.isRunning "changing-password" "change-password")}}
  </button>
</form>
