<div class="panel-body" ...attributes>
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      <BsAlert @type="danger" @dismissible={{false}}>{{error}}</BsAlert>
    {{else if url}}
      <BsAlert @type="info" @dismissible={{false}}>Recovery URL: {{url}}</BsAlert>
    {{else if success}}
      <BsAlert @type="success" @dismissible={{false}}>{{t "recovery-mail-sent"}}</BsAlert>
    {{/if}}
  
    <ValidatedInput
      @value={{email}}
      @validation={{validations.attrs.email}}
      @label={{t "email-address"}}
      @disabled={{recoverTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <button class="btn btn-primary btn-block" type="submit" disabled={{or recoverTask.isRunning success (not validations.isValid)}}>
      {{t (if recoverTask.isRunning "recovering" "recover-password")}}
    </button>
  </form>
  
</div>