<td class="column-icon">
  {{#if (eq result.type "user")}}
    <i class="icon-user" title={{t "pilot"}}></i>
  {{else if (eq result.type "club")}}
    <i class="icon-group" title={{t "club"}}></i>
  {{else if (eq result.type "airport")}}
    <i class="icon-map-marker" title={{t "airport"}}></i>
  {{/if}}
</td>

<td class="column-type">
  <small>
    {{#if (eq result.type "user")}}
      {{t "pilot"}}
    {{else if (eq result.type "club")}}
      {{t "club"}}
    {{else if (eq result.type "airport")}}
      {{t "airport"}}
    {{/if}}
  </small>
</td>

<td class="column-buttons">
  {{#if (eq result.type "user")}}
    <a href="/users/{{result.id}}/">{{result.name}}</a>

  {{else if (eq result.type "club")}}
    <a href="/clubs/{{result.id}}/">{{result.name}}</a>

    {{#if result.website}}
      <small>- <a href={{result.website}} target="_blank">{{result.website}}</a></small>
    {{/if}}

  {{else if (eq result.type "airport")}}
    <a href="/flights/airport/{{result.id}}">{{result.name}}</a>

    {{#if result.icao}}
      <small>- {{result.icao}}</small>
    {{/if}}

    {{#if result.frequency}}
      <small>- {{result.frequency}} MHz</small>
    {{/if}}
  {{/if}}

  <div class="pull-right">
    {{#if (eq result.type "user")}}
      <a href="/flights/pilot/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-plane"></i> {{t "flights"}}</a>
      <a href="/statistics/pilot/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-bar-chart"></i> {{t "statistics"}}</a>

    {{else if (eq result.type "club")}}
      <a href="/clubs/{{result.id}}/pilots" class="btn btn-default btn-sm"><i class="icon-group"></i> {{t "members"}}</a>
      <a href="/flights/club/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-plane"></i> {{t "flights"}}</a>
      <a href="/statistics/club/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-bar-chart"></i> {{t "statistics"}}</a>

    {{else if (eq result.type "airport")}}
      <a href="/flights/airport/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-plane"></i> {{t "flights"}}</a>
      <a href="/statistics/airport/{{result.id}}" class="btn btn-default btn-sm"><i class="icon-bar-chart"></i> {{t "statistics"}}</a>
    {{/if}}
  </div>
</td>
