<td class="column-icon">
  {{#if (eq result.type "user")}}
    <i class="icon-user" title={{t "pilot"}}></i>
  {{else if (eq result.type "club")}}
    <i class="icon-group" title={{t "club"}}></i>
  {{else if (eq result.type "airport")}}
    <i class="icon-map-marker" title={{t "airport"}}></i>
  {{/if}}
</td>

<td class="column-type">
  <small>
    {{#if (eq result.type "user")}}
      {{t "pilot"}}
    {{else if (eq result.type "club")}}
      {{t "club"}}
    {{else if (eq result.type "airport")}}
      {{t "airport"}}
    {{/if}}
  </small>
</td>

<td class="column-buttons">
  {{#if (eq result.type "user")}}
    {{link-to result.name "user" result.id}}

  {{else if (eq result.type "club")}}
    {{link-to result.name "club" result.id}}

    {{#if result.website}}
      <small>- <a href={{result.website}} target="_blank">{{result.website}}</a></small>
    {{/if}}

  {{else if (eq result.type "airport")}}
    {{link-to result.name "flights.airport" result.id}}

    {{#if result.icao}}
      <small>- {{result.icao}}</small>
    {{/if}}

    {{#if result.frequency}}
      <small>- {{result.frequency}} MHz</small>
    {{/if}}
  {{/if}}

  <div class="pull-right">
    {{#if (eq result.type "user")}}
      {{#link-to "flights.pilot" result.id class="btn btn-default btn-sm"}}<i class="icon-plane"></i> {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.pilot" result.id class="btn btn-default btn-sm"}}<i class="icon-bar-chart"></i> {{t "statistics"}}{{/link-to}}

    {{else if (eq result.type "club")}}
      {{#link-to "club.pilots" result.id  class="btn btn-default btn-sm"}}<i class="icon-group"></i> {{t "members"}}{{/link-to}}
      {{#link-to "flights.club" result.id class="btn btn-default btn-sm"}}<i class="icon-plane"></i> {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.club" result.id class="btn btn-default btn-sm"}}<i class="icon-bar-chart"></i> {{t "statistics"}}{{/link-to}}

    {{else if (eq result.type "airport")}}
      {{#link-to "flights.airport" result.id class="btn btn-default btn-sm"}}<i class="icon-plane"></i> {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.airport" result.id class="btn btn-default btn-sm"}}<i class="icon-bar-chart"></i> {{t "statistics"}}{{/link-to}}
    {{/if}}
  </div>
</td>
