<td class="column-icon">
  {{#if (eq result.type "user")}}
    {{fa-icon "user" title=(t "pilot")}}
  {{else if (eq result.type "club")}}
    {{fa-icon "group" title=(t "club")}}
  {{else if (eq result.type "airport")}}
    {{fa-icon "map-marker" title=(t "airport")}}
  {{/if}}
</td>

<td class="column-type">
  <small>
    {{#if (eq result.type "user")}}
      {{t "pilot"}}
    {{else if (eq result.type "club")}}
      {{t "club"}}
    {{else if (eq result.type "airport")}}
      {{t "airport"}}
    {{/if}}
  </small>
</td>

<td class="column-buttons">
  {{#if (eq result.type "user")}}
    {{link-to result.name "user" result.id}}

  {{else if (eq result.type "club")}}
    {{link-to result.name "club" result.id}}

    {{#if result.website}}
      <small>- <a href={{result.website}} target="_blank">{{result.website}}</a></small>
    {{/if}}

  {{else if (eq result.type "airport")}}
    {{link-to result.name "flights.airport" result.id}}

    {{#if result.icao}}
      <small>- {{result.icao}}</small>
    {{/if}}

    {{#if result.frequency}}
      <small>- {{result.frequency}} MHz</small>
    {{/if}}
  {{/if}}

  <div class="pull-right">
    {{#if (eq result.type "user")}}
      {{#link-to "flights.pilot" result.id class="btn btn-default btn-sm"}}{{fa-icon "plane"}} {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.pilot" result.id class="btn btn-default btn-sm"}}{{fa-icon "bar-chart"}} {{t "statistics"}}{{/link-to}}

    {{else if (eq result.type "club")}}
      {{#link-to "club.pilots" result.id  class="btn btn-default btn-sm"}}{{fa-icon "group"}} {{t "members"}}{{/link-to}}
      {{#link-to "flights.club" result.id class="btn btn-default btn-sm"}}{{fa-icon "plane"}} {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.club" result.id class="btn btn-default btn-sm"}}{{fa-icon "bar-chart"}} {{t "statistics"}}{{/link-to}}

    {{else if (eq result.type "airport")}}
      {{#link-to "flights.airport" result.id class="btn btn-default btn-sm"}}{{fa-icon "plane"}} {{t "flights"}}{{/link-to}}
      {{#link-to "statistics.airport" result.id class="btn btn-default btn-sm"}}{{fa-icon "bar-chart"}} {{t "statistics"}}{{/link-to}}
    {{/if}}
  </div>
</td>
