<ul class="nav nav-pills">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      {{#if (eq year "all")}}
        {{t "all-time"}}
      {{else}}
        {{t "season-YEAR" year=year}}
      {{/if}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      {{#active-link}}{{#link-to (query-params year="all")}}{{t "all-time"}}{{/link-to}}{{/active-link}}
      <li class="divider"></li>
      {{#each recentYears as |year|}}
        {{#active-link}}{{#link-to (query-params year=year)}}{{year}}{{/link-to}}{{/active-link}}
      {{/each}}
    </ul>
  </li>
</ul>
