<thead>
<tr>
  <th>{{t "year"}}</th>
  <th colspan="2">{{t "distance"}}</th>
</tr>
</thead>
<tbody>
{{#each years as |year|}}
  <tr>
    <td class="col-xs-2">{{year.year}}</td>
    <td class="col-xs-2">
      <span>
        {{format-distance year.distance}}
        {{bs-tooltip title=(t "n-avg-distance-per-flight" distance=(format-distance year.average_distance))}}
      </span>
    </td>
    <td class="col-xs-8">
      {{#bs-progress as |p|}}
        {{p.bar value=(percent year.distance max) type="success"}}
      {{/bs-progress}}
    </td>
  </tr>
{{/each}}

<tr>
  <td><strong>{{t "total"}}</strong></td>
  <td colspan="2"><strong>{{format-distance sum}}</strong></td>
</tr>
</tbody>
