<thead>
<tr>
  <th>{{t "year"}}</th>
  <th colspan="2">{{t "distance"}}</th>
</tr>
</thead>
<tbody>
{{#each years as |year|}}
  <tr>
    <td class="col-xs-2">{{year.year}}</td>
    <td class="col-xs-2">
      <span rel="tooltip"
            title="{{t "n-avg-distance-per-flight" distance=(format-distance year.average_distance) }}">
        {{format-distance year.distance}}
      </span>
    </td>
    <td class="col-xs-8">
      <div class="progress">
        <div class="progress-bar progress-bar-success"
             role="progressbar"
             aria-valuenow="{{percent year.distance max}}"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: {{percent year.distance max}}%;"></div>
      </div>
    </td>
  </tr>
{{/each}}

<tr>
  <td><strong>{{t "total"}}</strong></td>
  <td colspan="2"><strong>{{format-distance sum}}</strong></td>
</tr>
</tbody>
