<thead>
<tr>
  <th>{{t "year"}}</th>
  <th colspan="2">{{t "flight-time"}}</th>
</tr>
</thead>
<tbody>
{{#each years as |year|}}
  <tr>
    <td class="col-xs-2">{{year.year}}</td>
    <td class="col-xs-2">
      <span>
        {{t "n-hours" num=(format-hours year.duration)}}
        {{bs-tooltip title=(t "n-avg-hours-per-flight" num=(format-hours year.average_duration))}}
      </span>
    </td>
    <td class="col-xs-8">
      {{#bs-progress as |p|}}
        {{p.bar value=(percent year.duration max) type="warning"}}
      {{/bs-progress}}
    </td>
  </tr>
{{/each}}

<tr>
  <td><strong>{{t "total"}}</strong></td>
  <td colspan="2"><strong>{{t "n-hours" num=(format-hours sum)}}</strong></td>
</tr>
</tbody>
