<div id="sidebar" class="sidebar">
  <!-- Nav tabs -->
  <ul class="sidebar-tabs" role="tablist">
    <li class="active">
      <a href="#tab-overview" title="{{t "overview"}}" role="tab">
        <i class="icon-info icon-large"></i>
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="sidebar-content">
    <div class="sidebar-pane active" id="tab-overview">
      <h3>{{t "overview"}}</h3>
      <div class="sidebar-pane-content">
        {{tracking-pilots-list pilots=pilots}}
      </div>
    </div>
  </div>
</div>

{{flight-map
  hoverEnabled=(not (or fixCalc.isRunning cesiumEnabled))
  defaultTime=fixCalc.defaultTime
  onTimeChange=(action (mut fixCalc.time))
  onExtentChange=(action (mut mapExtent))
  onCesiumEnabledChange=(action (mut cesiumEnabled))
  fullscreenElement="#fullscreen-content"
  class="olFullscreen sidebar-map"}}

<div id="barogram_panel" class="map-bottom-panel map-overlay">
  <div style="overflow: auto; max-height: 115px">
    {{fix-table selection=selectedFlightId onSelectionChange=(action (mut selectedFlightId))}}
  </div>

  {{flight-barogram
    selection=selectedFlightId
    hoverMode=(not fixCalc.isRunning)
    timeInterval=timeInterval
    time=fixCalc.time
    defaultTime=fixCalc.defaultTime
    onTimeChange=(action (mut fixCalc.time))}}
</div>