<form {{action "submit" on="submit"}}>
  {{#if error}}
    {{#bs-alert type="danger" dismissible=false}}{{error}}{{/bs-alert}}
  {{/if}}

  {{#validated-block label=(t "igc-or-zip-files") validation=validations.attrs.files hasContent=files didValidate=didValidate}}
    <input type="file" name="files" multiple="multiple" onchange={{action "setFilesFromEvent"}} class="form-control" disabled={{uploadTask.isRunning}}>
  {{/validated-block}}

  {{#validated-block label=(t "pilot") validation=validations.attrs.pilotId didValidate=didValidate}}
    {{pilot-select clubMembers=clubMembers pilotId=pilotId onChange=(action (mut pilotId))}}
  {{/validated-block}}

  {{#if showPilotNameInput}}
    {{validated-input
      value=pilotName
      validation=validations.attrs.pilotName
      label=(t "pilot")
      disabled=uploadTask.isRunning
      didValidate=didValidate}}
  {{/if}}

  <input type="hidden" name="pilotId" value={{pilotId}}>
  <input type="hidden" name="pilotName" value={{pilotName}}>

  <button class="btn btn-primary btn-block" type="submit" disabled={{or uploadTask.isRunning (not validations.isValid)}}>
    {{t (if uploadTask.isRunning "uploading" "upload")}}
  </button>
</form>