<form {{action "submit" on="submit"}}>
{{!--  Stub for better alert for club members--}}
{{!--   {{#unless clubMembers}} --}}
{{!--     <UploadClubAlert --}}
{{!--       @clubMembers={{clubMembers}} --}}
{{!--     /> --}}
{{!--   {{/unless}} --}}
  {{#if error}}
    <BsAlert @type="danger" @dismissible={{false}}>{{error}}</BsAlert>
  {{/if}}
  {{t "date-must-in-filename"}}
  <li>{{t "date-ok-filename"}}</li>
  <li>{{t "date-space-filename"}}</li>
  <li>{{t "date-number-filename"}}</li>
  <p></p>
  {{t "agree-public"}}
  <p></p>
  <ValidatedBlock @label={{t "igc-or-zip-files"}} @validation={{validations.attrs.files}} @hasContent={{files}} @didValidate={{didValidate}}>
    <input type="file" name="files" multiple="multiple" onchange={{action "setFilesFromEvent"}} class="form-control" disabled={{uploadTask.isRunning}}>
  </ValidatedBlock>


{{!--  ####################################  Upload Bocking ######################################################   --}}
{{!--       <span class="label label-warning"> --}}
{{!--         {{fa-icon "warning"}} --}}
{{!--         {{'Uploads are blocked for debugging :('}} --}}
{{!--       </span> --}}

  <ValidatedBlock @label={{t "pilot"}} @validation={{validations.attrs.pilotId}} @didValidate={{didValidate}}>
    <PilotSelect @clubMembers={{clubMembers}} @pilotId={{pilotId}} @onChange={{action (mut pilotId)}} />
  </ValidatedBlock>

  {{#if showPilotNameInput}}
    <ValidatedInput
      @value={{pilotName}}
      @validation={{validations.attrs.pilotName}}
      @label={{t "pilot"}}
      @disabled={{uploadTask.isRunning}}
      @didValidate={{didValidate}} />
  {{/if}}

  <input type="hidden" name="pilotId" value={{pilotId}}>
  <input type="hidden" name="pilotName" value={{pilotName}}>

  <button class="btn btn-primary btn-block" type="submit" disabled={{or uploadTask.isRunning (not validations.isValid)}}>
    {{t (if uploadTask.isRunning "uploading" "upload")}}
  </button>

</form>