{{#if success}}
  <p class="visible-xs">{{t "your-flights-have-been-saved"}}</p>
  <p class="hidden-xs">{{t "your-flights-have-been-saved"}} {{t "verify-flights-and-publish"}}</p>
{{else}}
  <p>{{t "no-flight-saved"}}</p>
{{/if}}

<form {{action "submit" on="submit"}} class="upload-results-form">
  {{#if (eq validatedResults.length 1)}}
    {{#each validatedResults as |result|}}
      {{upload-result-form result=result clubMembers=clubMembers aircraftModels=aircraftModels}}
    {{/each}}
  {{else}}
    <div class="col-sm-3">
      <ul class="nav nav-tabs tabs-left">
        {{#each validatedResults as |result index|}}
          <li class={{if (eq index 0) "active"}}>
            <a href="#result-tab-{{index}}" data-toggle="tab">
              {{#if (and (eq result.status 0) result.validations.isValid)}}
                {{fa-icon "check" class="text-success"}}
              {{else}}
                {{fa-icon "warning" class="text-warning"}}
              {{/if}}

              {{result.name}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-9">
      <div class="tab-content">
        {{#each validatedResults as |result index|}}
          <div class="tab-pane {{if (eq index 0) "active"}}" id="result-tab-{{index}}">
            {{upload-result-form result=result clubMembers=clubMembers aircraftModels=aircraftModels}}
          </div>
        {{/each}}
      </div>
    </div>

    <div class="clearfix"></div>
  {{/if}}

  {{#if success}}
    <button class="btn btn-primary" type="submit" disabled={{or saveTask.isRunning isInvalid}}>
      {{if saveTask.isRunning (t "publishing") (t "publish-flights" num=successfulResults.length)}}
    </button>
  {{/if}}

</form>