<tr class="selectable" ...attributes>
  <td class="color-stripe" style={{colorStripeStyle}}></td>
  <td>
    {{#if flight.model.id}}
      <span>
        <BsTooltip @title={{concat "Handicap: " flight.model.index}} @placement="bottom" />
        {{flight.model.name}}
      </span>
    {{else if igcFile.model}}
      [{{igcFile.model}}]
    {{else}}
      [{{t "unknown"}}]
    {{/if}}

    <small><br>
      {{#if flight.registration}}
        {{flight.registration}}
      {{else if igcFile.registration}}
        {{igcFile.registration}}
      {{/if}}

      {{#if flight.competitionId}}
        &ndash; {{flight.competitionId}}
      {{else if igcFile.competitionId}}
        &ndash; {{igcFile.competitionId}}
      {{/if}}
    </small>
  </td>
  <td>
    {{#if pilotName}}
      {{#if pilot.id}}
        <LinkTo @route="user" @model={{pilot.id}} @bubbles={{false}}>{{pilotName}}</LinkTo>
      {{else}}
        {{pilotName}}
      {{/if}}
    {{/if}}

    {{#if (and pilotName copilotName)}}<br>{{/if}}

    {{#if copilotName}}
      {{#if copilot.id}}
        <LinkTo @route="user" @model={{copilot.id}} @bubbles={{false}}>{{copilotName}}</LinkTo>
      {{else}}
        {{copilotName}}
      {{/if}}
    {{/if}}

    {{#if (not (or pilotName copilotName))}}
    [{{t "unspecified"}}]
    {{/if}}
  </td>
  <td class="times-column">
    {{format-time times.firstObject.start format="hhmmss" timeZone="UTC"}}<br>
    {{format-time times.lastObject.end format="hhmmss" timeZone="UTC"}}

    <BsPopover @title="Periods" @triggerEvents="hover">
      <table>
        {{#each times as |interval|}}
          <tr>
            <td style="text-align: right;">{{format-time interval.start format="hhmmss" timeZone="UTC"}}</td>
            <td>-</td>
            <td>{{format-time interval.end format="hhmmss" timeZone="UTC"}}</td>
          </tr>
        {{/each}}
      </table>
    </BsPopover>
  </td>
</tr>