<h2>{{t "flights"}}</h2>
{{stats-flights-table years=model.years}}

<h2>{{t "distance"}}</h2>
{{stats-distance-table years=model.years}}

<h2>{{t "flight-time"}}</h2>
{{stats-duration-table years=model.years}}

<h2>{{t "pilots"}}</h2>
{{stats-pilots-table years=model.years sumPilots=model.sumPilots}}