<h2>{{t "flights"}}</h2>
<StatsFlightsTable @years={{model.years}} />

<h2>{{t "distance"}}</h2>
<StatsDistanceTable @years={{model.years}} />

<h2>{{t "flight-time"}}</h2>
<StatsDurationTable @years={{model.years}} />