{{#base-page}}
  <div class="page-header">
    <h1>{{t "users"}}</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{t "name"}}</th>
          <th>{{t "club"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.users as |user|}}
          <tr>
            <td>
              {{link-to user.name "user" user.id}}
            </td>
            <td class="column-buttons">
              {{#if user.club}}
                {{link-to user.club.name "club" user.club.id}}
              {{/if}}

              <div class="pull-right hidden-xs">
                {{#link-to "flights.pilot" user.id class="btn btn-default btn-sm"}}{{fa-icon "plane"}} {{t "flights"}}{{/link-to}}
                {{#link-to "statistics.pilot" user.id class="btn btn-default btn-sm hidden-xs-inline"}}{{fa-icon "bar-chart"}} {{t "statistics"}}{{/link-to}}
              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/base-page}}