<BasePage>
  <div class="page-header">
    <h1>{{t "clubs"}}</h1>
    <div class="col-xs-12 banner">
      <div class="col-xs-6"><LinkTo @route="settings.club" class="btn btn-default">{{t "group-choose-new"}}</LinkTo></div>
      <div class="col-xs-6"><LinkTo @route="groupflights.info" class="btn btn-default">{{fa-icon "question-circle"}} {{t "groupflights-info"}}</LinkTo></div>
    </div>

  </div>
    <div class="col-sm-6">
    <SeasonDropdown @year={{year}} />
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{{t "name"}}</th>
      <th class="numeric sorting">{{t "flights"}}</th>
      <th class="numeric sorting">{{t "pilots"}}</th>
      <th> {{t "contact"}} </th>
      <th> {{t "website"}} </th>

    </tr>
    </thead>
    <tbody>
    {{#each model.club_info as |row|}}
      <tr>
        <td><LinkTo @route="club" @model={{row.club.id}}>{{row.club.name}}</LinkTo></td>
        <td class="numeric">{{format-number row.flights}}</td>
        <td class="numeric">{{format-number row.users}}</td>
        <td><a href="mailto:{{row.email}}">{{t "email-for-info"}}</a></td>
        <td><a href={{row.website}} target="_blank" rel="noopener">{{row.website}}</a></td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">{{t "no-clubs-found"}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</BasePage>