<BasePage>
  <div class="page-header">
    <h1>{{t "clubs"}}</h1>
  </div>
    <div class="col-sm-6">
    <SeasonDropdown @year={{year}} />
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{{t "name"}}</th>
      <th class="numeric sorting">{{t "flights"}}</th>
      <th class="numeric">{{t "pilots"}}</th>

    </tr>
    </thead>
    <tbody>
    {{#each model.club_info as |row|}}
      <tr>
        <td><LinkTo @route="club" @model={{row.club.id}}>{{row.club.name}}</LinkTo></td>
        <td class="numeric">{{format-number row.flights}}</td>
        <td class="numeric">{{format-number row.users}}</td>
        <td><a href="mailto:{{row.email}}">Email</a></td>
        <td><a href={{row.website}} target="_blank" rel="noopener">{{row.website}}</a></td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">{{t "no-clubs-found"}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <div >
      <LinkTo class="col-xs-12 banner" @route="settings.club">{{t "group-choose-new"}}</LinkTo>
  </div>
</BasePage>