{{#if result}}
  <BasePage>
    <div class="page-header">
      <h1>{{t "upload-flight"}}</h1>
    </div>

    <UploadResultsForm @results={{result.results}} @clubMembers={{result.club_members}} @aircraftModels={{result.aircraft_models}} @transitionTo={{action "transitionTo"}} />
  </BasePage>
{{else}}
  <FormPage @title={{t "upload-flight"}}>
    <UploadFlightForm @clubMembers={{model.clubMembers}} @onUpload={{action (mut result)}} />
  </FormPage>
{{/if}}
