<BasePage>
  <div id="about">
    <div class="row">
      <div class="col-md-12 tagline">
        <p class="lead pull-left" data-test-welcome-message>{{t "about.welcome"}}</p>

        <div class="btn-group social-buttons pull-right visible-md visible-lg">
          <a href="https://www.facebook.com/skylines.project" class="btn btn-default" target="_blank" rel="noopener">{{fa-icon "facebook-square"}}</a>
          <a href="https://twitter.com/skylinesproject" class="btn btn-default" target="_blank" rel="noopener">{{fa-icon "twitter"}}</a>
          <a href="https://github.com/skylines-project/skylines" class="btn btn-default" target="_blank" rel="noopener">{{fa-icon "github-alt"}}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 banner">
        <div class="col-xs-3"><LinkTo @route="flight" @model={{17613}} @query={{hash baselayer="Google Physical" overlays="Airspace"}}><img src="/images/about-1.jpeg" class="img-responsive"></LinkTo></div>
        <div class="col-xs-3"><LinkTo @route="flight" @model={{17537}} @query={{hash baselayer="Empty" overlays="Airspace"}}><img src="/images/about-2.jpeg" class="img-responsive"></LinkTo></div>
        <div class="col-xs-3"><LinkTo @route="flight" @model={{17567}} @query={{hash baselayer="OpenStreetMap" overlays="Airspace"}}><img src="/images/about-3.jpeg" class="img-responsive"></LinkTo></div>
        <div class="col-xs-3"><LinkTo @route="flight" @model={{17577}} @query={{hash baselayer="Shaded Relief" overlays="Airspace"}}><img src="/images/about-4.jpeg" class="img-responsive"></LinkTo></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2><LinkTo @route="flights">{{fa-icon "plane"}} {{t "flight-database"}}</LinkTo></h2>
        <p>{{t "about.flights" htmlSafe=true uploadURL=(href-to "flight-upload")}}</p>
      </div>
      <div class="col-md-4">
        <h2><LinkTo @route="tracking">{{fa-icon "rss"}} {{t "live-tracking"}}</LinkTo></h2>
        <p>{{t "about.tracking" htmlSafe=true url=(href-to "tracking.info")}}</p>
      </div>
      <div class="col-md-4">
        <h2>{{fa-icon "info-circle"}} {{t "flight-analysis"}}</h2>
        <p>{{t "about.analysis" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>{{fa-icon "map-marker"}} {{t "task-planning"}} <small>({{t "planned"}})</small></h2>
        <p>{{t "about.task-planning" htmlSafe=true prosoar=(html-safe "<a href=\"http://www.prosoar.de/\" target=\"_blank\" rel=\"noopener\">proSoar</a>")}}</p>
      </div>
      <div class="col-md-4">
        <h2>{{fa-icon "trophy"}} {{t "competitions"}} <small>({{t "planned"}})</small></h2>
        <p>{{t "about.competitions" htmlSafe=true}}</p>
      </div>
      <div class="col-md-4">
        <h2>{{fa-icon "check-square-o"}} {{t "achievements"}} <small>({{t "planned"}})</small></h2>
        <p>{{t "about.achievements" htmlSafe=true}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>{{fa-icon "group"}} {{t "social-network"}}</h2>
        <p>{{t "about.notifications" htmlSafe=true url=(href-to notificationsTarget)}}</p>
      </div>
      <div class="col-md-4">
        <h2>{{fa-icon "cloud"}} {{t "open-data"}}</h2>
        <p>{{t "about.open-data" htmlSafe=true license=(html-safe "<a href=\"http://opendatacommons.org/licenses/by/summary/\" target=\"_blank\" rel=\"noopener\">Open Data Commons Attribution License (ODBY)</a>") welt2000=(html-safe "<a href=\"http://www.segelflug.de/vereine/welt2000/\" target=\"_blank\" rel=\"noopener\">WELT2000</a>")}}</p>
      </div>
      <div class="col-md-4">
        <h2>{{fa-icon "wrench"}} {{t "open-source"}}</h2>
        <p>{{t "about.open-source" htmlSafe=true teamURL="/about/team" licenseURL="/about/license" github=(html-safe "<a href=\"https://github.com/skylines-project/skylines#contact-and-contributing\" target=\"_blank\" rel=\"noopener\">GitHub</a>")}}</p>
      </div>
    </div>
  </div>
</BasePage>
