<BasePage>
  <div class="page-header">
    <h1>{{t "landscapes"}}</h1>
  </div>
  <p> {{t "landscapes-download"}} </p>

  <table class="table">
    <tbody>

Scenery sizes.gsheet
      <tr>
        <a href="/files/landscapes/CondorUpdater_Setup.exe"  download>{{fa-icon "download" size="sm"}} Test (AA2)</a>
      </tr>


      <tr>
        <a href="/files/landscapes/AA2.7z"  download>{{fa-icon "download" size="sm"}} Arc Alpin (AA2)</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Andalucia_C2.7z"  download>{{fa-icon "download" size="sm"}} Andalucia</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Arizona2.7z"  download>{{fa-icon "download" size="sm"}} Arizona</a>
      </tr>
      <tr>
        <a href="/files/landscapes/BandelEXT.7z"  download>{{fa-icon "download" size="sm"}} Bandel</a>
      </tr>
      <tr>
        <a href="/files/landscapes/BigPyrenees2.7z"  download>{{fa-icon "download" size="sm"}} Big Pyrenees</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Cascade Range.7z"  download>{{fa-icon "download" size="sm"}} Cascade Range</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Christchurch.7z"  download>{{fa-icon "download" size="sm"}} Christchurch</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Coquimbo_SanJuan.7z"  download>{{fa-icon "download" size="sm"}} Coquimbo San Juan</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Denmark5.7z"  download>{{fa-icon "download" size="sm"}} Denmark</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Draak.7z"  download>{{fa-icon "download" size="sm"}} Draak</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Fish.7z"  download>{{fa-icon "download" size="sm"}} Fish</a>
      </tr>
      <tr>
        <a href="/files/landscapes/LakeKeepitC2.7z"  download>{{fa-icon "download" size="sm"}} Lake Keepit</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Nephi.7z"  download>{{fa-icon "download" size="sm"}} Nephi</a>
      </tr>
      <tr>
        <a href="/files/landscapes/New_Zealand.7z"  download>{{fa-icon "download" size="sm"}} New Zealand</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Pumalin_Park.7z"  download>{{fa-icon "download" size="sm"}} Pumalin Park</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Sierra_Nevada.7z"  download>{{fa-icon "download" size="sm"}} Sierra Nevada</a>
      </tr>
      <tr>
        <a href="/files/landscapes/South_Nevada2.7z"  download>{{fa-icon "download" size="sm"}} South Nevada</a>
      </tr>
      <tr>
        <a href="/files/landscapes/SouthernNorway4.7z"  download>{{fa-icon "download" size="sm"}} Southern Norway</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Talca_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Talca Los_Andes</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Temuco_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Temuco Los Andes</a>
      </tr>
      <tr>
        <a href="/files/landscapes/Transandino.7z"  download>{{fa-icon "download" size="sm"}} Transandino</a>
      </tr>
      <tr>
        <a href="/files/landscapes/West_Patagonia.7z"  download>{{fa-icon "download" size="sm"}} West Patagonia</a>
      </tr>


    </tbody>
  </table>

</BasePage>
