<BasePage>
  <div class="page-header">
    <h1>{{t "landscapes"}}</h1>
  </div>
  <p> {{t "landscapes-download"}} </p>
  <p> {{t "landscapes-extract"}} </p>

{{!--   <h4> --}}
{{!--   <a href="http://199.192.98.227:8080"> {{t "http-server"}}</a> --}}
{{!--   </h4> --}}

  <table class="table">
    <tbody>

      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/AA2.7z"  download>{{fa-icon "download" size="sm"}} Arc Alpin (AA2)</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Andalucia_C2.7z"  download>{{fa-icon "download" size="sm"}} Andalucia</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Arizona2.7z"  download>{{fa-icon "download" size="sm"}} Arizona</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/BandelEXT.7z"  download>{{fa-icon "download" size="sm"}} Bandel</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/BigPyrenees2.7z"  download>{{fa-icon "download" size="sm"}} Big Pyrenees</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Cascade Range.7z"  download>{{fa-icon "download" size="sm"}} Cascade Range</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.7z"  download>{{fa-icon "download" size="sm"}} Christchurch</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.7z"  download>{{fa-icon "download" size="sm"}} Coquimbo San Juan</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.7z"  download>{{fa-icon "download" size="sm"}} Denmark</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Draak.7z"  download>{{fa-icon "download" size="sm"}} Draak</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Fish.7z"  download>{{fa-icon "download" size="sm"}} Fish</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.7z"  download>{{fa-icon "download" size="sm"}} Lake Keepit</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.7z"  download>{{fa-icon "download" size="sm"}} Logan</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Nephi.7z"  download>{{fa-icon "download" size="sm"}} Nephi</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/New_Zealand.7z"  download>{{fa-icon "download" size="sm"}} New Zealand</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Pumalin_Park.7z"  download>{{fa-icon "download" size="sm"}} Pumalin Park</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Sierra_Nevada.7z"  download>{{fa-icon "download" size="sm"}} Sierra Nevada</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/South_Nevada2.7z"  download>{{fa-icon "download" size="sm"}} South Nevada</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/SouthernNorway4.7z"  download>{{fa-icon "download" size="sm"}} Southern Norway</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/SoCal2.7z"  download>{{fa-icon "download" size="sm"}} Southern California (SoCal2)</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Talca_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Talca Los_Andes</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Temuco Los Andes</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/Transandino.7z"  download>{{fa-icon "download" size="sm"}} Transandino</a>
      </tr>
      <tr>
        <a href="http://199.192.98.227:8080/landscapes-zip/West_Patagonia.7z"  download>{{fa-icon "download" size="sm"}} West Patagonia</a>
      </tr>


    </tbody>
  </table>

</BasePage>
