<BasePage> 
  <div class="page-header"> 
    <h1>{{t "landscapes"}}</h1> 
  </div> 
  <p> {{t "landscapes-download"}} </p> 
  <p> {{t "landscapes-extract"}} </p> 
  <hr> 
  <p> <a href="https://www.fosshub.com/qBittorrent.html"> {{"qBittorrent "}}</a> {{t "torrent"}} </p> 
  <hr> 
<table class="table table-striped"> 
  <thead> 
        <th class="column-buttons"> {{t "name"}}</th> 
        <th class="column-buttons"></th> 
        <th class="column-buttons"></th> 
  </thead> 
  <tbody> 
	<tr> 
		<td> {{"AA2.v0.6.7z"}} </td> 
		<td align = "right"> {{"30.1 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AA2.v0.6.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AA2.v0.6.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"AlleghenyRidges.v0.9.7z"}} </td> 
		<td align = "right"> {{"6.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AlleghenyRidges.v0.9.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AlleghenyRidges.v0.9.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Andalucia_C2.v1.0.7z"}} </td> 
		<td align = "right"> {{"6.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Andalucia_C2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Andalucia_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Arizona2.v1.0.7z"}} </td> 
		<td align = "right"> {{"3.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Arizona2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Arizona2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Barcelona_C2.v1.0.7z"}} </td> 
		<td align = "right"> {{"6.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Barcelona_C2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Barcelona_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Bebedouro2.v.1.1.7z"}} </td> 
		<td align = "right"> {{"1.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Bebedouro2.v.1.1.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Bebedouro2.v.1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"BigPyrenees2.v1.0.7z"}} </td> 
		<td align = "right"> {{"9.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/BigPyrenees2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/BigPyrenees2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Cascade Range.v2.0.7z"}} </td> 
		<td align = "right"> {{"8.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cascade Range.v2.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cascade Range.v2.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Centro_Italia.v1.0.7z"}} </td> 
		<td align = "right"> {{"5.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Centro_Italia.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Centro_Italia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Champagne2v0.2.7z"}} </td> 
		<td align = "right"> {{"7.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Champagne2v0.2.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Champagne2v0.2.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Christchurch.v1.0.7z"}} </td> 
		<td align = "right"> {{"4.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Chypre.v1.0.7z"}} </td> 
		<td align = "right"> {{"0.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Chypre.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Chypre.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Coquimbo_SanJuan.v1.0.7z"}} </td> 
		<td align = "right"> {{"9.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Cordoba.v1.0.7z"}} </td> 
		<td align = "right"> {{"1.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cordoba.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cordoba.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Denmark5.v5.3.7z"}} </td> 
		<td align = "right"> {{"4.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.v5.3.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.v5.3.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"EasternOntario2.v0.4.7z"}} </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/EasternOntario2.v0.4.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/EasternOntario2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Fish.v1.0.7z"}} </td> 
		<td align = "right"> {{"2.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Florida2.v1.0.7z"}} </td> 
		<td align = "right"> {{"2.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Florida2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Florida2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"France_Sud_C2.v1.0.7z"}} </td> 
		<td align = "right"> {{"11.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Sud_C2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Sud_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Irlande 2.v1.0.7z"}} </td> 
		<td align = "right"> {{"5.5 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Irlande 2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Irlande 2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"LakeKeepitC2.v1.180722.7z"}} </td> 
		<td align = "right"> {{"0.8 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.v1.180722.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.v1.180722.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"LakePlacid2.v0.4.7z"}} </td> 
		<td align = "right"> {{"0.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakePlacid2.v0.4.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakePlacid2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Lem-Bahia.v1.0.7z"}} </td> 
		<td align = "right"> {{"2.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Lem-Bahia.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Lem-Bahia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Logan2.v0.9.7z"}} </td> 
		<td align = "right"> {{"8.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.v0.9.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.v0.9.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Nephi.v2.1802.7z"}} </td> 
		<td align = "right"> {{"10.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Nephi.v2.1802.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Nephi.v2.1802.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"NetherlandsHD.v2.02.7z"}} </td> 
		<td align = "right"> {{"2.5 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/NetherlandsHD.v2.02.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/NetherlandsHD.v2.02.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"New_South_Wales.v1.0.7z"}} </td> 
		<td align = "right"> {{"4.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_South_Wales.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_South_Wales.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"New_Zealand.v0.8.7z"}} </td> 
		<td align = "right"> {{"4.3 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_Zealand.v0.8.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_Zealand.v0.8.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Norte_Espana.v1.0.7z"}} </td> 
		<td align = "right"> {{"9.3 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Norte_Espana.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Norte_Espana.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"North-UK2.v1.0.7z"}} </td> 
		<td align = "right"> {{"5.1 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/North-UK2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/North-UK2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Oahu.v1.0.7z"}} </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Oahu.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Oahu.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Podkarpackie.v1.0.7z"}} </td> 
		<td align = "right"> {{"1.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Podkarpackie.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Podkarpackie.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Pumalin_Park.v1.1.7z"}} </td> 
		<td align = "right"> {{"4.3 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Pumalin_Park.v1.1.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Pumalin_Park.v1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Sardaigne 2.v1.0.7z"}} </td> 
		<td align = "right"> {{"1.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sardaigne 2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sardaigne 2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Scar.v1.0.7z"}} </td> 
		<td align = "right"> {{"2.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scar.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scar.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Scotland4.v1.0.7z"}} </td> 
		<td align = "right"> {{"4.8 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scotland4.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scotland4.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Sierra_Nevada.v1.0.7z"}} </td> 
		<td align = "right"> {{"8.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sierra_Nevada.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sierra_Nevada.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Simien.v1.0.7z"}} </td> 
		<td align = "right"> {{"1.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Simien.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Simien.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"SoCal2.v2.0.7z"}} </td> 
		<td align = "right"> {{"7.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SoCal2.v2.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SoCal2.v2.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"South East UK3.v1.0.7z"}} </td> 
		<td align = "right"> {{"5.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South East UK3.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South East UK3.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"SouthernNorway4.v4.01.7z"}} </td> 
		<td align = "right"> {{"8.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SouthernNorway4.v4.01.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SouthernNorway4.v4.01.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"South_Italia_C2.v1.0.7z"}} </td> 
		<td align = "right"> {{"3.8 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Italia_C2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Italia_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"South_Nevada2.v1.0.7z"}} </td> 
		<td align = "right"> {{"3.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Nevada2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Nevada2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Talca_Los_Andes.v1.0.7z"}} </td> 
		<td align = "right"> {{"8.3 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Talca_Los_Andes.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Talca_Los_Andes.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Temuco_Los_Andes.v1.0.7z"}} </td> 
		<td align = "right"> {{"8.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Tian-Shan2.v1.0.7z"}} </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Tian-Shan2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Tian-Shan2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Transandino.v1.1.7z"}} </td> 
		<td align = "right"> {{"6.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Transandino.v1.1.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Transandino.v1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Truckee.v2.1.7z"}} </td> 
		<td align = "right"> {{"11.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Truckee.v2.1.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Truckee.v2.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Uruguay.v1.0.7z"}} </td> 
		<td align = "right"> {{"3.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Uruguay.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Uruguay.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Valencia_Madrid2.v1.0.7z"}} </td> 
		<td align = "right"> {{"13.5 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Valencia_Madrid2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Valencia_Madrid2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"West-UK2.v1.0.7z"}} </td> 
		<td align = "right"> {{"6.1 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West-UK2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West-UK2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"WestGermany3.UHD.v1.01.7z"}} </td> 
		<td align = "right"> {{"72.5 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/WestGermany3.UHD.v1.01.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/WestGermany3.UHD.v1.01.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"West_Balkans.v1.0.7z"}} </td> 
		<td align = "right"> {{"5.8 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Balkans.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Balkans.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"West_Patagonia.v1.0.7z"}} </td> 
		<td align = "right"> {{"9.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Patagonia.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Patagonia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Wolf.v1.0.7z"}} </td> 
		<td align = "right"> {{"1.1 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Wolf.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Wolf.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Yellowstone_Park.v1.0.7z"}} </td> 
		<td align = "right"> {{"6.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yellowstone_Park.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yellowstone_Park.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Yunnan.v1.0.7z"}} </td> 
		<td align = "right"> {{"10.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yunnan.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yunnan.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

  </tbody> 
 </table> 
</BasePage> 
