<BasePage>
  <div class="page-header">
    <h1>{{t "landscapes"}}</h1>
  </div>
  <p> {{t "landscapes-download"}} </p>
  <p> {{t "landscapes-extract"}} </p>
  <hr>
  <p> <a href="https://www.fosshub.com/qBittorrent.html"> {{"qBittorrent "}}</a> {{t "torrent"}} </p>
  <hr>
<table class="table table-striped">
  <thead>
        <th class="column-buttons"> {{t "name"}}</th>
        <th class="column-buttons"></th>
        <th class="column-buttons"></th>
  </thead>
 <tbody>
<tr>
<td> {{AA2.7z}} </td>
<td> {{0.3 MB}} </td>
<td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>
<td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>
</tr>
{{!-- <tr>  --}}
{{!-- <td> {{Arizona2.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{BandelEXT.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{BigPyrenees2.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Cascade Range.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Christchurch.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Coquimbo_SanJuan.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Denmark5.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Draak.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Fish.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{LakeKeepitC2.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Logan2.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Nephi.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{New_Zealand.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Pumalin_Park.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Sierra_Nevada.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{SoCal2.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{SouthernNorway4.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{South_Nevada2.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Talca_Los_Andes.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Temuco_Los_Andes.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Transandino.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Truckee.v2.1.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{WestGermany3.UHD.v1.01.7z}} </td>  --}}
{{!-- <td> {{0.2 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{West_Patagonia.7z}} </td>  --}}
{{!-- <td> {{0.1 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
{{!-- <tr>  --}}
{{!-- <td> {{Yellowstone_Park.v1.0.7z}} </td>  --}}
{{!-- <td> {{0.0 MB}} </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z" download> {{fa - icon "download" size = "sm"}} HTTP </ a> </td>  --}}
{{!-- <td> <a href = "http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z.torrent" download> {{fa - icon "download" size = "sm"}} Torrent </ a> </td>  --}}
{{!-- </tr>  --}}
  </tbody>
 </table>
</BasePage>
