<BasePage> 
  <div class="page-header"> 
    <h1>{{t "landscapes"}}</h1> 
  </div> 
  <p> {{t "landscapes-download"}} </p> 
  <p> {{t "landscapes-extract"}} </p> 
  <hr> 
  <p> <a href="https://www.fosshub.com/qBittorrent.html"> {{"qBittorrent "}}</a> {{t "torrent"}} </p> 
  <hr> 
<table class="table table-striped"> 
  <thead> 
        <th class="column-buttons"> {{t "name"}}</th> 
        <th class="column-buttons"></th> 
        <th class="column-buttons"></th> 
  </thead> 
  <tbody> 
	<tr> 
		<td> {{"Christchurch.v1.0.7z"}} </td> 
		<td> {{"4.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Chypre.v1.0.7z"}} </td> 
		<td> {{"0.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Chypre.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Chypre.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Coquimbo_SanJuan.v1.0.7z"}} </td> 
		<td> {{"9.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Cordoba.v1.0.7z"}} </td> 
		<td> {{"1.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cordoba.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cordoba.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Denmark5.v5.3.7z"}} </td> 
		<td> {{"4.6 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.v5.3.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.v5.3.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"EasternOntario2.v0.4.7z"}} </td> 
		<td> {{"0.4 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/EasternOntario2.v0.4.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/EasternOntario2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Fish.v1.0.7z"}} </td> 
		<td> {{"2.0 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Florida2.v1.0.7z"}} </td> 
		<td> {{"2.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Florida2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Florida2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"France_Sud_C2.v1.0.7z"}} </td> 
		<td> {{"11.7 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Sud_C2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Sud_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Irlande 2.v1.0.7z"}} </td> 
		<td> {{"5.5 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Irlande 2.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Irlande 2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"LakeKeepitC2.v1.180722.7z"}} </td> 
		<td> {{"0.8 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.v1.180722.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.v1.180722.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"LakePlacid2.v0.4.7z"}} </td> 
		<td> {{"0.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakePlacid2.v0.4.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakePlacid2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Lem-Bahia.v1.0.7z"}} </td> 
		<td> {{"2.9 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Lem-Bahia.v1.0.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Lem-Bahia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

	<tr> 
		<td> {{"Logan2.v0.9.7z"}} </td> 
		<td> {{"8.2 GB"}} </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.v0.9.7z" download> {{fa-icon "download" size="sm"}} HTTP </a> </td> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.v0.9.7z.torrent" download> {{fa-icon "download" size="sm"}} Torrent </a> </td> 
	</tr> 

  </tbody> 
 </table> 
</BasePage> 
