<BasePage>
  <div class="page-header">
    <h1>{{t "landscapes"}}</h1>
  </div>
  <p> {{t "landscapes-download"}} </p>
  <p> {{t "landscapes-extract"}} </p>
  <hr>
  <p> {{t "torrent"}} </p>
  <hr>

{{!--   <h4> --}}
{{!--   <a href="http://199.192.98.227:8080"> {{t "http-server"}}</a> --}}
{{!--   </h4> --}}
<table class="table table-striped">
  <thead>
        <th class="column-buttons"> {{t "name"}}</th>
        <th class="column-buttons"></th>
        <th class="column-buttons"></th>
  </thead>

    <tbody>
      <tr>
        <td> {{"Arc Alpin (AA2)"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/AA2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/AA2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>


      <tr>
        <td> {{"Arizona2"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Arizona2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Arizona2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

      <tr>
        <td> {{"BandelEXT"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/BandelEXT.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/BandelEXT.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"BigPyrenees2"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/BigPyrenees2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/BigPyrenees2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Cascade Range"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Cascade Range.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Cascade Range.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Christchurch"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Christchurch.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Coquimbo_SanJuan"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Coquimbo_SanJuan.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Denmark5"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Denmark5.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Draak"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Draak.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Draak.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Fish"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Fish.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Logan2"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Logan2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"New_Zealand"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/New_Zealand.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/New_Zealand.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Pumalin_Park"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Pumalin_Park.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Pumalin_Park.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"Sierra_Nevada"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Sierra_Nevada.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Sierra_Nevada.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>

       <tr>
        <td> {{"South_Nevada2"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Nevada2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/South_Nevada2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"SouthernNorway4"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/SouthernNorway4.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/SouthernNorway4.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"SoCal2"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/SoCal2.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/SoCal2.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"Talca_Los_Andes"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Talca_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Talca_Los_Andes.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"Temuco_Los_Andes"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Temuco_Los_Andes.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"Transandino"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/Transandino.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/Transandino.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
       <tr>
        <td> {{"West_Patagonia"}}</td>
        <td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Patagonia.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td>
        <td> <a href="http://199.192.98.227:8080/torrent/West_Patagonia.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td>
      </tr>
{{!--        <tr> --}}
{{!--         <td> {{""}}</td> --}}
{{!--         <td> <a href="http://199.192.98.227:8080/landscapes-zip/.7z"  download>{{fa-icon "download" size="sm"}} HTTP</a></td> --}}
{{!--         <td> <a href="http://199.192.98.227:8080/torrent/.7z.torrent"  download>{{fa-icon "download" size="sm"}} Torrent</a></td> --}}
{{!--       </tr> --}}


    </tbody>
  </table>

</BasePage>
