<BasePage>
  <div class="page-header">
    <h1>{{t "landscapes"}}</h1>
  </div>
  <p> {{t "landscapes-download"}} </p>

  <table class="table">
    <tbody>
      <tr>
        <a href="/landscapes/AA2.7z"  download>{{fa-icon "download" size="sm"}} Arc Alpin (AA2)</a>
      </tr>
      <tr>
        <a href="/landscapes/Arizona2.7z"  download>{{fa-icon "download" size="sm"}} Arizona</a>
      </tr>
      <tr>
        <a href="/landscapes/BandelEXT.7z"  download>{{fa-icon "download" size="sm"}} Bandel</a>
      </tr>
      <tr>
        <a href="/landscapes/BigPyrenees2.7z"  download>{{fa-icon "download" size="sm"}} Big Pyrenees</a>
      </tr>
      <tr>
        <a href="/landscapes/Cascade Range.7z"  download>{{fa-icon "download" size="sm"}} Cascade Range</a>
      </tr>
      <tr>
        <a href="/landscapes/LakeKeepitC2.7z"  download>{{fa-icon "download" size="sm"}} Lake Keepit</a>
      </tr>
      <tr>
        <a href="/landscapes/Nephi.7z"  download>{{fa-icon "download" size="sm"}} Nephi</a>
      </tr>
      <tr>
        <a href="/landscapes/New_Zealand.7z"  download>{{fa-icon "download" size="sm"}} New Zealand</a>
      </tr>
      <tr>
        <a href="/landscapes/Pumalin_Park.7z"  download>{{fa-icon "download" size="sm"}} Pumalin Park</a>
      </tr>
      <tr>
        <a href="/landscapes/Sierra_Nevada.7z"  download>{{fa-icon "download" size="sm"}} Sierra Nevada</a>
      </tr>
      <tr>
        <a href="/landscapes/South_Nevada2.7z"  download>{{fa-icon "download" size="sm"}} South_Nevada</a>
      </tr>
      <tr>
        <a href="/landscapes/SouthernNorway4.7z"  download>{{fa-icon "download" size="sm"}} Southern Norway</a>
      </tr>
      <tr>
        <a href="/landscapes/Talca_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Talca Los_Andes</a>
      </tr>
      <tr>
        <a href="/landscapes/Temuco_Los_Andes.7z"  download>{{fa-icon "download" size="sm"}} Temuco Los Andes</a>
      </tr>
      <tr>
        <a href="/landscapes/Transandino.7z"  download>{{fa-icon "download" size="sm"}} Transandino</a>
      </tr>
      <tr>
        <a href="/landscapes/West_Patagonia.7z"  download>{{fa-icon "download" size="sm"}} West_Patagonia</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
      <tr>
        <a href="/landscapes/tasks.7z"  download>{{fa-icon "download" size="sm"}} TITLE</a>
      </tr>
    </tbody>
  </table>

</BasePage>