<BasePage> 
  <div class="page-header"> 
    <h1>{{t "landscapes"}}</h1> 
  </div> 
  <p> {{t "landscapes-download"}} </p> 
  <p> {{t "install"}} <a href="https://www.fosshub.com/qBittorrent.html">  {{"qBittorrent"}}</a> {{t "qbittorent"}} <b> {{t "torrent"}} </b> {{t "torrent-after"}}</p> 
  <p> {{t "extract-with"}}  <a href="https://www.7-zip.org/download.html"> 7-zip </a>  {{t "landscapes-paste"}} </p> 
  <hr> 
<table class="table table-striped"> 
  <thead> 
        <th class="column-buttons"> {{t "download-torrent"}}</th> 
        <th class="column-buttons"></th> 
        <th class="column-buttons"></th> 
  </thead> 
  <tbody> 
	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AA2.v0.6.7z.torrent" download> {{fa-icon "download" size="sm"}} AA2.v0.6 </a> </td> 
		<td align = "right"> {{"30.1 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/AlleghenyRidges.v0.9.7z.torrent" download> {{fa-icon "download" size="sm"}} AlleghenyRidges.v0.9 </a> </td> 
		<td align = "right"> {{"6.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Andalucia_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Andalucia_C2.v1.0 </a> </td> 
		<td align = "right"> {{"6.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Arizona2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Arizona2.v1.0 </a> </td> 
		<td align = "right"> {{"3.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Barcelona_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Barcelona_C2.v1.0 </a> </td> 
		<td align = "right"> {{"6.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Bebedouro2.v1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Bebedouro2.v1.1 </a> </td> 
		<td align = "right"> {{"1.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/BigPyrenees2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} BigPyrenees2.v1.0 </a> </td> 
		<td align = "right"> {{"9.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cascade Range.v2.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Cascade Range.v2.0 </a> </td> 
		<td align = "right"> {{"8.6 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Centro_Italia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Centro_Italia.v1.0 </a> </td> 
		<td align = "right"> {{"5.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Champagne2v0.2.7z.torrent" download> {{fa-icon "download" size="sm"}} Champagne2v0.2 </a> </td> 
		<td align = "right"> {{"7.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Christchurch.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Christchurch.v1.0 </a> </td> 
		<td align = "right"> {{"4.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Chypre.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Chypre.v1.0 </a> </td> 
		<td align = "right"> {{"0.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Coquimbo_SanJuan.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Coquimbo_SanJuan.v1.0 </a> </td> 
		<td align = "right"> {{"9.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Cordoba.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Cordoba.v1.0 </a> </td> 
		<td align = "right"> {{"1.6 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Denmark5.v5.3.7z.torrent" download> {{fa-icon "download" size="sm"}} Denmark5.v5.3 </a> </td> 
		<td align = "right"> {{"4.6 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Draak.v3.7z.torrent" download> {{fa-icon "download" size="sm"}} Draak.v3 </a> </td> 
		<td align = "right"> {{"2.8 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/EasternOntario2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} EasternOntario2.v0.4 </a> </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Fish.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Fish.v1.0 </a> </td> 
		<td align = "right"> {{"2.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Florida2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Florida2.v1.0 </a> </td> 
		<td align = "right"> {{"2.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Ouest_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} France_Ouest_C2.v1.0 </a> </td> 
		<td align = "right"> {{"7.4 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/France_Sud_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} France_Sud_C2.v1.0 </a> </td> 
		<td align = "right"> {{"11.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Irlande 2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Irlande 2.v1.0 </a> </td> 
		<td align = "right"> {{"5.5 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakeKeepitC2.v1.180722.7z.torrent" download> {{fa-icon "download" size="sm"}} LakeKeepitC2.v1.180722 </a> </td> 
		<td align = "right"> {{"0.8 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/LakePlacid2.v0.4.7z.torrent" download> {{fa-icon "download" size="sm"}} LakePlacid2.v0.4 </a> </td> 
		<td align = "right"> {{"0.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Lem-Bahia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Lem-Bahia.v1.0 </a> </td> 
		<td align = "right"> {{"2.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Logan2.v0.9.7z.torrent" download> {{fa-icon "download" size="sm"}} Logan2.v0.9 </a> </td> 
		<td align = "right"> {{"8.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Nephi.v2.1802.7z.torrent" download> {{fa-icon "download" size="sm"}} Nephi.v2.1802 </a> </td> 
		<td align = "right"> {{"10.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/NetherlandsHD.v2.02.7z.torrent" download> {{fa-icon "download" size="sm"}} NetherlandsHD.v2.02 </a> </td> 
		<td align = "right"> {{"2.5 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_South_Wales.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} New_South_Wales.v1.0 </a> </td> 
		<td align = "right"> {{"4.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/New_Zealand.v0.8.7z.torrent" download> {{fa-icon "download" size="sm"}} New_Zealand.v0.8 </a> </td> 
		<td align = "right"> {{"4.3 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Norte_Espana.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Norte_Espana.v1.0 </a> </td> 
		<td align = "right"> {{"9.3 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/North-UK2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} North-UK2.v1.0 </a> </td> 
		<td align = "right"> {{"5.1 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Oahu.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Oahu.v1.0 </a> </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Podkarpackie.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Podkarpackie.v1.0 </a> </td> 
		<td align = "right"> {{"1.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Pumalin_Park.v1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Pumalin_Park.v1.1 </a> </td> 
		<td align = "right"> {{"4.3 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sardaigne 2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Sardaigne 2.v1.0 </a> </td> 
		<td align = "right"> {{"1.4 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scar.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Scar.v1.0 </a> </td> 
		<td align = "right"> {{"2.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Scotland4.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Scotland4.v1.0 </a> </td> 
		<td align = "right"> {{"4.8 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Sierra_Nevada.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Sierra_Nevada.v1.0 </a> </td> 
		<td align = "right"> {{"8.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Simien.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Simien.v1.0 </a> </td> 
		<td align = "right"> {{"1.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Slovenia2v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Slovenia2v1.0 </a> </td> 
		<td align = "right"> {{"1.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SoCal2.v2.0.7z.torrent" download> {{fa-icon "download" size="sm"}} SoCal2.v2.0 </a> </td> 
		<td align = "right"> {{"7.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South East UK3.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} South East UK3.v1.0 </a> </td> 
		<td align = "right"> {{"5.9 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/SouthernNorway4.v4.01.7z.torrent" download> {{fa-icon "download" size="sm"}} SouthernNorway4.v4.01 </a> </td> 
		<td align = "right"> {{"8.7 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Italia_C2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} South_Italia_C2.v1.0 </a> </td> 
		<td align = "right"> {{"3.8 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/South_Nevada2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} South_Nevada2.v1.0 </a> </td> 
		<td align = "right"> {{"3.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Talca_Los_Andes.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Talca_Los_Andes.v1.0 </a> </td> 
		<td align = "right"> {{"8.3 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Temuco_Los_Andes.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Temuco_Los_Andes.v1.0 </a> </td> 
		<td align = "right"> {{"8.6 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Tian-Shan2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Tian-Shan2.v1.0 </a> </td> 
		<td align = "right"> {{"0.4 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Transandino.v1.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Transandino.v1.1 </a> </td> 
		<td align = "right"> {{"6.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Truckee.v2.1.7z.torrent" download> {{fa-icon "download" size="sm"}} Truckee.v2.1 </a> </td> 
		<td align = "right"> {{"11.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Uruguay.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Uruguay.v1.0 </a> </td> 
		<td align = "right"> {{"3.2 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Valencia_Madrid2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Valencia_Madrid2.v1.0 </a> </td> 
		<td align = "right"> {{"13.5 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West-UK2.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} West-UK2.v1.0 </a> </td> 
		<td align = "right"> {{"6.1 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/WestGermany3.UHD.v1.01.7z.torrent" download> {{fa-icon "download" size="sm"}} WestGermany3.UHD.v1.01 </a> </td> 
		<td align = "right"> {{"72.5 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Balkans.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} West_Balkans.v1.0 </a> </td> 
		<td align = "right"> {{"5.8 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/West_Patagonia.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} West_Patagonia.v1.0 </a> </td> 
		<td align = "right"> {{"9.0 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Wolf.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Wolf.v1.0 </a> </td> 
		<td align = "right"> {{"1.1 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yellowstone_Park.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Yellowstone_Park.v1.0 </a> </td> 
		<td align = "right"> {{"6.6 GB"}} </td> 
	</tr> 

	<tr> 
		<td> <a href="http://199.192.98.227:8080/landscapes-zip/Yunnan.v1.0.7z.torrent" download> {{fa-icon "download" size="sm"}} Yunnan.v1.0 </a> </td> 
		<td align = "right"> {{"10.4 GB"}} </td> 
	</tr> 

  </tbody> 
 </table> 
</BasePage> 
