<BasePage>
  <div class="page-header page-header-with-tabs">
    <h1>
      {{t "ranking"}}

      {{#if loading}}
        <small>{{t "loading"}}</small>
      {{/if}}
    </h1>

    <div class="page-header-tabs">
      <BsNav @type="tabs" as |nav|>
        <nav.item>
          {{#nav.link-to "ranking.clubs"}}{{t "clubs"}}{{/nav.link-to}}
        </nav.item>
        <nav.item>
          {{#nav.link-to "ranking.pilots"}}{{t "pilots"}}{{/nav.link-to}}
        </nav.item>
        <nav.item>
          {{#nav.link-to "ranking.airports"}}{{t "airports"}}{{/nav.link-to}}
        </nav.item>
      </BsNav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</BasePage>
