<td class="icon">
  {{fa-icon "comments-o"}}
</td>
<td>
  {{link-to (t "show") "flight" event.flight.id class="btn btn-default btn-sm pull-right"}}
  <p>
    {{#if event.unread}}<span class="badge badge-warning">{{t 'new'}}</span>{{/if}}
    <small><abbr title={{format-time event.time format="full"}}>{{format-relative event.time}}</abbr></small>
  </p>
  <p>
    {{format-html-message translationKey
      actor=event.actor.name
      actorURL=(href-to "user" event.actor.id)
      distance=(format-distance event.flight.distance)
      date=(format-date event.flight.date format="ddmmyyyy")}}
  </p>
</td>
