<div ...attributes>
  <table class="table table-condensed">
    <tbody>
    <tr>
      <th></th>
      <th class="numeric">{{t "count"}}<br>{{t "avg-vario-abbr"}}</th>
      <th class="numeric">{{t "duration"}}<br>&Delta;H</th>
    </tr>
    {{#if this.total}}<CirclingPerformanceRow @perf={{this.total}} />{{/if}}
    {{#if this.left}}<CirclingPerformanceRow @perf={{this.left}} />{{/if}}
    {{#if this.right}}<CirclingPerformanceRow @perf={{this.right}} />{{/if}}
    {{#if this.mixed}}<CirclingPerformanceRow @perf={{this.mixed}} />{{/if}}
    </tbody>
  </table>

</div>