<div ...attributes>
  <table class="table table-condensed">
    <tbody>
    <tr>
      <th></th>
      <th class="numeric">{{t "count"}}<br>{{t "avg-vario-abbr"}}</th>
      <th class="numeric">{{t "duration"}}<br>&Delta;H</th>
    </tr>
    {{#if total}}<CirclingPerformanceRow @perf={{total}} />{{/if}}
    {{#if left}}<CirclingPerformanceRow @perf={{left}} />{{/if}}
    {{#if right}}<CirclingPerformanceRow @perf={{right}} />{{/if}}
    {{#if mixed}}<CirclingPerformanceRow @perf={{mixed}} />{{/if}}
    </tbody>
  </table>

</div>