<div class="panel-body" ...attributes>
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      <BsAlert @type="danger" @dismissible={{false}}>{{error}}</BsAlert>
    {{/if}}
  
    <ValidatedInput
      @value={{name}}
      @validation={{validations.attrs.name}}
      @label={{t "name"}} @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <ValidatedInput
      @value={{website}}
      @validation={{validations.attrs.website}}
      @label={{t "website"}} @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "editing" "edit")}}
    </button>
  </form>
  
</div>