<table local-class="fix-table" class="table table-condensed" ...attributes>
  <tbody>
    {{#each this.data as |row|}}
      <FixTableRow
        @row={{row}}
        @selectable={{this.selectable}}
        @selected={{and this.selectable (eq row.id @selection)}}
        @onSelect={{this.select}}
        @onRemove={{this.onRemove}} />
    {{/each}}
  </tbody>
</table>