<div local-class="GraphicLayerSwitcher" class="ol-unselectable" ...attributes>
  {{#if open}}
    <div id="GraphicLayerSwitcher-open" {{on-click-outside (action (mut open) false) eventType="mousedown"}}>
      <div local-class="base_layers">
        {{#each baseLayers as |layer|}}
          <LayerSwitcherElement
            @name={{layer}}
            @visible={{eq this.mapSettings.baseLayer layer}}
            @onSelect={{fn this.mapSettings.setBaseLayer layer}}
          />
        {{/each}}
      </div>
      <div local-class="overlay_layers">
        {{#each overlayLayers as |layer|}}
          <LayerSwitcherElement
            @name={{layer}}
            @visible={{includes this.mapSettings.overlayLayers layer}}
            @onSelect={{fn this.mapSettings.toggleOverlayLayer layer}}
          />
        {{/each}}
      </div>
    </div>
  {{else}}
    <div id="GraphicLayerSwitcher-closed">
      <button {{action "open"}}><img src="../../images/layers.png"></button>
    </div>
  {{/if}}
</div>