<div class="GraphicLayerSwitcher ol-unselectable" ...attributes>
  {{#if open}}
    <div id="GraphicLayerSwitcher-open" {{on-click-outside (action (mut open) false) eventType="mousedown"}}>
      <div class="base_layers">
        {{#each baseLayers as |layer|}}
          <LayerSwitcherElement @layer={{layer}} @onSelect={{action "select" layer}} />
        {{/each}}
      </div>
      <div class="overlay_layers">
        {{#each overlayLayers as |layer|}}
          <LayerSwitcherElement @layer={{layer}} @onSelect={{action "select" layer}} />
        {{/each}}
      </div>
    </div>
  {{else}}
    <div id="GraphicLayerSwitcher-closed">
      <button {{action "open"}}><img src="../../images/layers.png"></button>
    </div>
  {{/if}}

</div>