<div class="panel-body" ...attributes>
  <form {{action "submit" on="submit"}}>
    {{#if error}}
      <BsAlert @type="danger" @dismissible={{false}}>{{error}}</BsAlert>
    {{/if}}
  
    <ValidatedInput
      @value={{email}}
      @validation={{validations.attrs.email}}
      @label={{t "email-address"}}
      @autocomplete="email"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <ValidatedInput
      @value={{firstName}}
      @validation={{validations.attrs.firstName}}
      @label={{t "first-name"}}
      @autocomplete="given-name"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <ValidatedInput
      @value={{lastName}}
      @validation={{validations.attrs.lastName}}
      @label={{t "last-name"}}
      @autocomplete="family-name"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <ValidatedInput
      @type="password"
      @value={{password}}
      @validation={{validations.attrs.password}}
      @label={{t "password"}}
      @autocomplete="new-password"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <ValidatedInput
      @type="password"
      @value={{passwordConfirmation}}
      @validation={{validations.attrs.passwordConfirmation}}
      @label={{t "confirm-password"}}
      @autocomplete="new-password"
      @disabled={{saveTask.isRunning}}
      @didValidate={{didValidate}} />
  
    <button class="btn btn-primary btn-block" type="submit" disabled={{or saveTask.isRunning (not validations.isValid)}}>
      {{t (if saveTask.isRunning "registering" "register")}}
    </button>
  </form>
  
</div>