<table class="table table-condensed table-striped" ...attributes>
  <thead>
  <tr>
    <th>{{t "year"}}</th>
    <th colspan="2">{{t "pilots"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each years as |year|}}
    <tr>
      <td class="col-xs-2">{{year.year}}</td>
      <td class="col-xs-2">{{format-number year.pilots}}</td>
      <td class="col-xs-8">
        <BsProgress as |p|>
          <p.bar @value={{percent year.pilots max}} @type="info" />
        </BsProgress>
      </td>
    </tr>
  {{/each}}
  
  <tr>
    <td><strong>{{t "total"}}</strong></td>
    <td colspan="2"><strong>{{format-number sum}}</strong></td>
  </tr>
  </tbody>
  
</table>