<div class="relative-fullscreen" ...attributes {{did-insert this.setup}}>
  {{#if flights}}
    <Sidebar @defaultTab={{this.defaultTab}} id="sidebar" as |sidebar|>
      <sidebar.Tabs as |tabs|>
        <tabs.Tab @id="overview" @icon="info" @title={{t "overview"}} data-test-overview />
      </sidebar.Tabs>

      <sidebar.Panel @id="overview" @title={{t "overview"}}>
        <TrackingPilotsList @pilots={{pilots}} />
      </sidebar.Panel>
    </Sidebar>

    <FlightMap
      @flights={{fixCalc.flights}}
      @fixes={{fixCalc.fixes}}
      @hoverEnabled={{not (or fixCalc.isRunning cesiumEnabled)}}
      @defaultTime={{fixCalc.defaultTime}}
      @onTimeChange={{this.fixCalc.setTime}}
      @onExtentChange={{action (mut mapExtent)}}
      @onCesiumEnabledChange={{action (mut cesiumEnabled)}}
      @calculatePadding={{action "calculatePadding"}}
      class="sidebar-map ol-with-barogram"
    >

      <FullscreenButton @fullscreenElement="#fullscreen-content" />
      <PlaybackButton @isRunning={{fixCalc.isRunning}} @onToggle={{action "togglePlayback"}} />

    </FlightMap>

    <div id="barogram_panel" class="map-bottom-panel map-overlay">
      <div style="overflow: auto; max-height: 115px">
        <FixTable
          @flights={{fixCalc.flights}}
          @fixes={{fixCalc.fixes}}
          @selection={{mut selectedFlightId}}
          @onRemove={{action "removeFlight"}} />
      </div>

      <FlightBarogram
        @flights={{fixCalc.flights}}
        @selection={{selectedFlightId}}
        @hoverMode={{not fixCalc.isRunning}}
        @timeInterval={{timeInterval}}
        @time={{fixCalc.time}}
        @defaultTime={{fixCalc.defaultTime}}
        @onTimeChange={{this.fixCalc.setTime}}
      />
    </div>

  {{else}}
    <p style="margin:10pt;margin-top:40pt;">{{t "no-live-tracks-of-pilots" num=pilots.length}}</p>
  {{/if}}
</div>