<table local-class="tracking-table">
  <thead>
  <tr>
    <th class="hidden-xs date">{{t "last-fix"}}</th>
    <th>{{t "pilot"}}</th>
    <th>{{t "nearest-airport"}}</th>
    <th class="hidden-xs numeric">{{t "altitude"}}</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  {{#each @tracks as |track|}}
    <TrackingTableRow @track={{track}} />
  {{/each}}
  </tbody>
</table>