<table class="table table-condensed" ...attributes>
  <thead>
    <tr>
      <th>{{t "aircraft"}}</th>
      <th>{{t "pilot"}}</th>
      <th>{{t "first-last"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.nearFlightsWithColors as |nearFlight|}}
      <WingmanRow @nearFlight={{nearFlight}} {{on "click" (action "select" nearFlight.flight.id)}} />
    {{/each}}
  </tbody>
</table>