{{#if (gt this.pages 1)}}
  <ul class="pagination pagination-condensed" ...attributes>
    <li class="prev {{if this.prevDisabled "disabled"}}">
      <LinkTo @query={{hash page=this.prevPage}}>&laquo;</LinkTo>
    </li>

    {{#if this.showMinusFour}}
      <li><LinkTo @query={{hash page=(sum @page -4)}}>{{sum @page -4}}</LinkTo></li>
    {{/if}}

    {{#if this.showMinusThree}}
      <li><LinkTo @query={{hash page=(sum @page -3)}}>{{sum @page -3}}</LinkTo></li>
    {{/if}}

    {{#if this.showMinusTwo}}
      <li><LinkTo @query={{hash page=(sum @page -2)}}>{{sum @page -2}}</LinkTo></li>
    {{/if}}

    {{#if this.showMinusOne}}
      <li><LinkTo @query={{hash page=(sum @page -1)}}>{{sum @page -1}}</LinkTo></li>
    {{/if}}

    <li class="active"><LinkTo @query={{hash page=@page}}>{{@page}}</LinkTo></li>

    {{#if this.showPlusOne}}
      <li><LinkTo @query={{hash page=(sum @page 1)}}>{{sum @page 1}}</LinkTo></li>
    {{/if}}

    {{#if this.showPlusTwo}}
      <li><LinkTo @query={{hash page=(sum @page 2)}}>{{sum @page 2}}</LinkTo></li>
    {{/if}}

    {{#if this.showPlusThree}}
      <li><LinkTo @query={{hash page=(sum @page 3)}}>{{sum @page 3}}</LinkTo></li>
    {{/if}}

    {{#if this.showPlusFour}}
      <li><LinkTo @query={{hash page=(sum @page 4)}}>{{sum @page 4}}</LinkTo></li>
    {{/if}}

    <li class="next {{if this.nextDisabled "disabled"}}">
      <LinkTo @query={{hash page=this.nextPage}}>&raquo;</LinkTo>
    </li>
  </ul>
{{/if}}