<div class="row">
  <div class="col-sm-6">
    <SeasonDropdown @year={{year}} />
  </div>
  <div class="col-sm-6">
    <div class="pull-right">
      <XPager @count={{model.total}} @page={{page}} @perPage={{20}} />
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="numeric sorting">#</th>
    <th>{{t "name"}}</th>
    <th class="numeric sorting">{{t "flights"}}</th>
    <th class="numeric sorting">{{t "total-score"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.ranking as |row|}}
    <tr>
      <td class="numeric">{{row.rank}}</td>
      <td>
        <XFlag @code={{row.airport.countryCode}} />
        <LinkTo @route="flights.airport" @model={{row.airport.id}}>{{row.airport.name}}</LinkTo>
      </td>
      <td class="numeric">{{format-number row.flights}}</td>
      <td class="numeric">{{format-number row.points maximumFractionDigits=0}}</td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4">{{t "no-airports-found"}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <XPager @count={{model.total}} @page={{page}} @perPage={{20}} />
    </div>
  </div>
</div>
