{{#base-page}}
  <div class="page-header">
    <h1>{{t "live-tracking"}}</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>{{t "tracking.what-is-it"}}</h3>
      <p>{{t "tracking.description"}}</p>

      <h3>{{t "tracking.clients"}}</h3>
      <ul>
        <li>
          <b>XCSoar:</b><br/>
          {{format-html-message "tracking.xcsoar-description" release=(html-safe "<a href=\"http://www.xcsoar.org/download/latest.html\">XCSoar 6.4</a>")}}
          (<a href="https://play.google.com/store/apps/details?id=org.xcsoar" target="_blank">Google Play</a>).
          {{t "tracking.instructions-below"}}
        </li>
        <li>
          <b>Gaggle:</b><br/>
          {{t "tracking.available-in-gaggle"}}
          (<a href="https://play.google.com/store/apps/details?id=com.geeksville.gaggle" target="_blank">Google Play</a>)
        </li>
        <li>
          <b>{{t "tracking.lt24-clients"}}:</b><br/>
          {{format-html-message "tracking.lt24-description" livetrack24=(html-safe "<a href=\"http://www.livetrack24.com/docs/wiki/LiveTracking%20API\">LiveTrack24</a>") skylines=(html-safe "<code>skylines.aero</code>")}}
        </li>
      </ul>

      <h3>{{t "live-tracking-key"}}</h3>

      {{#if model.trackingKey}}
        <p>{{format-html-message "tracking.your-live-tracking-key-is-KEY" key=(html-safe (concat "<span class=\"label tracking-key\">" model.trackingKey "</span>"))}}</p>

        <p>{{#link-to "settings.tracking" class="btn btn-default btn-sm"}}{{fa-icon "cog"}} {{t "tracking.settings"}}{{/link-to}}</p>
      {{else}}
        <p>{{t "tracking.login-required"}}</p>
      {{/if}}

      <h3>XCSoar</h3>
      <p>{{format-html-message "tracking.xcsoar-instructions"}}</p>
    </div>
  </div>
{{/base-page}}